<% begin %>
  <p>Added note to  quote, <%= trackable_link_or_unavailable(activity) %></p>
  <dl>
    <dd><b>Title:</b> <%= activity.parameters['title'] %></dd>
    <dd><b>Comment:</b> <%= activity.parameters['comment'] %></dd>
  </dl>
<% rescue Exception => e %>
  <p>Something went horribly wrong</p>
<% end %>
