<div class="page-heading animated fadeInDownBig">
  <h1>In-Store Credit <small>Edit in-store credit <i><%= @in_store_credit.name %></i></small></h1>
</div>

<div class="row full">
  <%= render partial: 'form', locals: { in_store_credit: @in_store_credit } %>
</div>

