<div class="page-heading animated fadeInDownBig">
  <h1>In-Store Credits <small>Create a new in_store_credit</small></h1>
</div>

<div class="row full">
  <%= render partial: 'form', locals: { in_store_credit: @in_store_credit } %>
</div>

