var list = $("#quote-request-list");
var paginate = !list.hasClass("no-pagination");
list.html("");

if (paginate) list.append("<%=j paginate @quote_requests %>");

list.append("<div class='box-info row clear'><%=j render partial: 'quote_requests/table', locals: { quote_requests: @quote_requests } %></div>");

if (paginate) list.append("<%=j paginate @quote_requests %>");

initializeEditable();
