<h1>Quote Requests</h1>

<br clear='all' />

<div class="col-lg-9">
  <%= render partial: 'quote_requests/search' %>
</div>

<%= paginate @quote_requests %>

<div class="box-info row clear">
  <%= render partial: 'quote_requests/table', locals: { quote_requests: @quote_requests } %>
</div>

<%= paginate @quote_requests %>
