<h3><strong>Actions</strong></h3>
<br/>
<div class="box-info full">
  <button id="quote-email-button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#quote-mail-modal">
    Email Quote
  </button>
</div>
