<h3>Editing <strong>Line Items</strong></h3>

<div id='line-item-groups'>
  <% quote.line_item_groups.each do |group| %>
    <%= render 'line_item_groups/line_items', line_item_group: group %> 
  <% end %>
</div>

<div class="form-group box-info">
  <div class="col-sm-4 col-xs-offset-4">

    <%= button_to quote_line_item_groups_path(quote), remote: true, class: 'btn btn-info' do %>
      <i class="fa fa-list-alt"></i> Add Group
    <% end %>

  </div>
</div>
