<div class="line-item-form removeable">
  <div class="li-standard-form">
    <%= render partial: 'line_item_standard_form', locals: { f: f } %>
  </div>
  <br/>
  <%= link_to 'Remove Line Item', '#', class: 'remove_fields btn' %>
</div>
