<h3>Editing <strong>Line Items</strong></h3>

<%= form_for :line_item, builder: BatchFormBuilder, method: :put, remote: true,
             url: line_items_update_path do |_f| %>

  <div id="replaceable">
    <%= render partial: 'line_items/standard_view', locals: { line_items: quote.standard_line_items } %>
  </div>

  <div class="form-group box-info">
    <div class="col-sm-3">

      <%= link_to new_quote_line_item_path(quote),
                  class: 'btn btn-info btn-lg btn-block add-line-item',
                  id: "add-line-item-for-#{quote.id}", remote: true,
                  data: { params: { standard_only: true }.to_param } do %>
        <i class="fa fa-list-alt"></i> Add Line Item
      <% end %>

    </div>
    <div class="col-sm-3 col-xs-offset-6">

      <%= button_tag class: 'btn btn-info btn-lg btn-block update-line-items' do %>
        <i class="fa fa-list-alt"></i> Update Line Items
      <% end %>

    </div>
  </div>

<% end %>
