<p class="text-center">
    <% if quote.can_send_to_customer? %>
        <%= link_to quote_path(quote, quote: {state_event: :send_to_customer}),
                    method: :put , class: 'btn-sm btn-primary',
                    data: { confirm: 'Are you sure the quote has been sent to the customer?' } do %>
            <span class="fa fa-envelope"></span> Mark as sent to customer
        <% end %>
    <% end %>
    &nbsp;
    <% if quote.can_lost? %>
        <%= link_to quote_path(quote, quote: {state_event: :lost}),
                    method: :put , class: 'btn-sm btn-danger',
                    data: { confirm: 'Are you sure you have given up all hope and are ready to mark this lost?' } do %>
            <span class="fa fa-frown-o"></span> Mark as lost
        <% end %>
    <% end %>
</p>