<div class="page-heading animated fadeInDownBig row">
  <div class="pull-left">
    <h1>Quotes <small> View and edit quotes</small></h1>
  </div>
</div>

<div>
  <%= render 'quotes/search' %>
</div>

<div id='quotes-table'>
  <%= render 'quotes/table', quotes: @quotes %>
</div>
