<div class="page-heading animated fadeInDownBig">
  <h1>Create New Custom Quote <small>wizard</small></h1>
</div>

<div class="box-info full">
  <%= render 'form', quote: @quote, new_quote_hash: @new_quote_hash %>
</div>
