language: ruby
rvm:
  - ruby-2.1.2

install:
  - bundle install --without production

before_install:
  - openssl aes-256-cbc -K $encrypted_bd442a2c0fdc_key -iv $encrypted_bd442a2c0fdc_iv -in travis-ssh.tar.enc -out travis-ssh.tar -d
  - tar xvf travis-ssh.tar
  - sudo chmod 600 SoftWEAR-MockBot.pem
  - sudo chmod 600 travis_id_rsa
  - 'eval "$(ssh-agent -s)"'
  - ssh-add SoftWEAR-MockBot.pem travis_id_rsa
  - "ssh -T git@github.com || :"
  - sudo apt-get update
  - yes | sudo apt-get install libmysql-ruby libmysqlclient-dev ruby-dev libappindicator1 fonts-liberation
  - gem update bundler
  - gem install eventmachine -i ~/.rvm/rubies/rbx-2.5.2/gems -v 1.0.3 --no-ri --no-rdoc
  - wget http://chromedriver.storage.googleapis.com/2.15/chromedriver_linux64.zip
  - mkdir ~/chromedriver
  - unzip chromedriver_linux64.zip -d ~/chromedriver
  - wget -q -O - https://dl-ssl.google.com/linux/linux_signing_key.pub | sudo apt-key add -
  - sudo sh -c 'echo "deb [arch=amd64] http://dl.google.com/linux/chrome/deb/ stable main" >> /etc/apt/sources.list.d/google.list'
  - sudo apt-get update
  - sudo apt-get install google-chrome-stable

before_script:
  - |
    cat <<END >> config/database.yml
      test:
        adapter: mysql2
        database: crm_test
        username: travis
      production:
        adapter: mysql2
        database: crm_test
        username: travis
    END
  - export PATH=$PATH:~/chromedriver
  - bundle exec rake db:create
  - bundle exec rake db:schema:load

script: xvfb-run --server-args="-screen 0, 1024x768x24" bundle exec rspec --color -t ~no_ci -f d && bundle exec softwear-deploy

env:
  global:
    - WWW_DOMAIN=annarbortees.com
    - HUB_APP_NAME=softwear-crm
    - SOFTWEAR_HUB_URL=http://hub.softwearcrm.com
    - AUTH_SERVER_ENDPOINT=hub.softwearcrm.com:2900
    - TOKEN_CIPHER_KEY="aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaEEEEEEEEEEEEEEEEEEEEEEEEEEEe"
    - TOKEN_CIPHER_IV="aaaaaaaaaaaaaa2aaaaaaaaaaaaaaaaaaaaaaEEEEEEEEEEEEEEEEEEEEEEEEEEEe"
