<div class="informal-quote-line-item col-xs-9 pull-right">
  <h4>
    Gildan 5000 <span class="pull-right">100 pieces @ $3.50/each</span>
  </h4>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua.
  </p>
</div>