<h1>Quote Request Success Report from <%= report.start_time %> to <%= report.end_time %></h1>
<b>Total Quote Requests Received</b> 17 <br />
<b>Total Quote Requests Quoted</b> 10 <br />
<b>Total Quote Requests that became orders</b>5 <br />

report.report_data[:stuff]
