<div class="page-heading animated fadeInDownBig">
  <h1>Stores <small>Edit store <i><%= @store.name %></i></small></h1>
</div>

<div class="row full">
  <div class="box-info">
  <%= render partial: 'form', locals: {store: @store } %>
    </div>
</div>

