<div class="page-heading animated fadeInDownBig col-lg-9">
  <h1>Stores <small>Configure the stores available for your company</small></h1>
</div>

<div class="box-info col-lg-9 clear">
  <%= render partial: 'table', locals: { stores: @stores } %>
</div>

<div class="col-lg-3">
  <div class="box-info">
    <h2>Add a Store</h2>

    <div class="additional-btn">
      <%= link_to '#', { class: 'additional-icon', 'data-toggle' => 'collapse', 'data-target' => '#box-icon-2', id: 'show_new_link'} do %>
        <i class="fa fa-chevron-circle-down"></i>
      <% end %>
    </div>

    <div id="box-icon-2" class="collapse out">
      <%= render partial: 'form', locals: { store: Store.new } %>
    </div>
  </div>
</div>
