<div class="form-group js-removeable">
  <div class="input-group">
    <%= f.text_field :name, class: 'form-control',
                     placeholder: 'The ink color name (wavelengths from about 400 to 700nm, for example)' %>

    <% if f.object && f.object.errors.include?(:name) %>
      <% f.object.errors.full_messages_for(:name).each do |message| %>
        <p class="text-danger"><%= message %></p>
      <% end %>
    <% end %>

    <span class="input-group-btn">
      <%= f.hidden_field :_destroy %>

      <%= button_tag 'x', class: 'btn btn-danger js-remove-fields' %>
    </span>
  </div>
</div>
