<div class="row">
  <div class="removeable">
    <div class="col-md-11">
      <%= f.text_field :name, class: 'form-control' %>
    </div>
    <div class="col-md-1">
      <%= f.hidden_field :_destroy %>
      <%= link_to "x", '#', class: "btn btn-info remove_fields pull-right" %>
    </div>
  </div>
</div>
