<div class="form-group removeable">
      <div class="input-group">
        <%= f.text_field :name, class: 'form-control' %>
        <span class="input-group-btn">
           <%= button_tag "x", class: 'btn btn-danger remove_fields' %>
        </span>

        <%= f.hidden_field :_destroy %>
      </div>
        <% if f.object.errors.include?(:name) %>
            <%  f.object.errors.full_messages_for(:name).each do |message| %>
                <p class="text-danger"><%= message %></p>
            <% end %>
        <% end %>
</div>