<div class="page-heading animated fadeInDownBig">
  <h1>Imprint Methods <small>Edit imprint method <i><%= @imprint_method.name %></i></small></h1>
</div>

<div class="row full">
  <%= render partial: 'form', locals: {imprint_method: @imprint_method } %>
</div>

