showContentModal({
  title:  "Please select whether you approve or disapprove of this invoice",
  body:   $("<%=j render 'customer/orders/invoice_form', order: @order %>"),
  footer: $("<button data-dismiss='modal' class='btn btn-default'>Close</button>"),

  then: function() {
    <%= render 'customer/orders/invoice_form_js', order: @order %>
  }
});
