showContentModal({
  title: "Thanks for your feedback.",
  body: "<%= @order.salesperson.first_name %> will address your concerns as soon as possible.",
  footer: $("<button data-dismiss='modal'>OK</button>")
});
