<div class="page-heading animated fadeInDownBig">
  <h1>FBA Job Template #<%= @fba_job_template.id %> <small>change name or imprints</small></h1>
</div>

<div class="row full">
  <%= render 'fba_job_templates/form', fba_job_template: @fba_job_template %>
</div>
