<div class="page-heading animated fadeInDownBig">
  <h1>New FBA Job Template <small>to alleviate manually adding jobs to FBA orders</small></h1>
</div>

<div class="row full">
  <%= render 'fba_job_templates/form', fba_job_template: @fba_job_template %>
</div>
