<div class="col-xs-12 text-right">
  <%= link_to new_job_imprint_path(job, select_tag_name: "job[imprints_attributes][*time*][print_location_id]", description_name: "job[imprints_attributes][*time*][description]"),
              class: 'btn btn-info add-imprint',
              method: :get, remote: true do %>
      <i class="fa fa-pagelines"></i> Add Imprint
  <% end %>
</div>

<% job.imprints.each_with_index do |imprint, index| %>
  <%= render 'imprints/imprint',
    select_tag_name: "job[imprints_attributes][#{index}][print_location_id]",
    description_name: "job[imprints_attributes][#{index}][description]",
    id_field_name: "job[imprints_attributes][#{index}][id]",
    name_format_name: "job[imprints_attributes][#{index}][name_format]",
    number_format_name: "job[imprints_attributes][#{index}][number_format]",
imprint: imprint %>
<% end %>
