<div class='box-info'>
  <%= render partial: 'shared/modal_errors', locals: {object: artwork_request} %>
  <%= form_for artwork_request, url: order_artwork_request_path(order, artwork_request), builder: LancengFormBuilder, remote: true do |f| %>
      <%= render partial: 'form', locals: {artwork_request: artwork_request, order: order, f: f} %>
      <div class="form-group">
        <div class="row">
          <div class="col-sm-6">
            <%= f.submit "Update Artwork Request", class: 'btn btn-primary', id: 'artwork-request-submit' %>
          </div>
        </div>
      </div>
  <% end %>

</div>