<% if proofs_awaiting_approval.empty? %>
  
  <p class="alert alert-success col-xs-12">
    No artwork proofs currently awaiting approval
  </p>
<% else %> 
  <h2 class="alert alert-warning">
    There are currently <span class='pending-proofs-count'><%= proofs_awaiting_approval.count %> 
    </span> proofs awaiting approval
  </h2>

  <%= render 'proofs/order_table', orders: proofs_awaiting_approval %>
<% end %>
