<div class="box-info full">
  <div class="table-responsive table-striped">
    <table data-sortable class="table" id="artwork-request-table">
      <thead>
        <tr>
          <th>Priority</th>
          <th>Order</th>
          <th>Request Details</th>
          <th>Artwork Request Deadline</th>
          <th>Order In Hand</th>
          <th>No. of Pieces</th>
          <th>Actions</th>
        </tr>
      </thead>

      <tbody>
        <% artwork_requests.each do |artwork_request| %>
          <tr id="artwork-request-row-<%= artwork_request.id %>">
            <%= render partial: 'row',
                       locals: { artwork_request: artwork_request } %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
