<div class="page-heading animated fadeInDownBig col-lg-9">
  <h1>Artwork Requests <small>View the artwork requests assigned to you</small></h1>
</div>

<div class="box-info row clear">
  <%= render partial: 'table', locals: {artwork_requests: @artwork_requests} %>
</div>
