<div class="form-group">
  <div class="row">
    <%= f.label :file, title, class: 'col-sm-3 control-label' %>

    <div class="col-sm-9">
      <%= f.file_field :file  %>

      <p class="help-block"><%= file_constraints %></p>
    </div>
  </div>

  <% if f.object.errors.include?(:file) %>
    <% f.object.errors.full_messages_for(:file).each do |message| %>
      <p class="text-danger"><%= message %></p>
    <% end %>
  <% end %>
</div>
