<% order.jobs.each do |job| %>
	<%= render partial: 'jobs/job',
             locals: { job: job, collapsed: order.jobs.count == 1 } %>
<% end %>

<div class="form-group box-info">
  <div class="col-sm-4 col-xs-offset-4">
    <%= button_to order_jobs_path(order),
                  class: 'btn btn-info btn-lg btn-block js-new-job', remote: true do %>
      <i class="fa fa-plus-square"></i> New Job
    <% end %>
  </div>
</div>
