<div class='box-info'>
<h3>Update your password</h3>
  <%= form_for(@current_user, url: {action: :update_password}, html: { method: :put }, builder: LancengFormBuilder) do |f| %>
    <%= render_error_modal_for @current_user %>

    <%= render partial: 'users/password_fields', locals: { f:f } %>

    <div><%= f.submit "Update" %></div>
  <% end %>
</div>