<div class="page-heading animated fadeInDownBig col-lg-9">
  <h1>Users <small>Add/change user accounts</small></h1>
</div>
<div class='alert alert-danger'>
  This page is out of commission in favor of <%= link_to Figaro.env.softwear_hub_url %>
</div>

<div class="col-lg-3 text-right">
  <%= link_to 'Create new user', '#', class:'btn btn-primary' %>
</div>

<div class='box-info row clear'>
  <div class='table-responsive'>
    <table class='table table-hover'>
      <thead>
        <tr>
          <th class="user-index">ID</th>
          <th>Avatar</th>
          <th>Full Name</th>
          <th>Email Address</th>
          <th>Actions</th>
        </tr>
      </thead>

      <tbody>
        <% @users.each do |user| %>
          <%= render partial: 'table_entry', locals: { user: user } %>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
