<div class="page-heading animated fadeInDownBig col-lg-9">
  <h1>Users <small>Add/change user accounts</small></h1>
</div>

<div class="col-lg-3 text-right">
  <%= link_to 'Create new user', new_user_path, class:'btn btn-primary' %>
</div>

<div class='box-info row clear'>
  <div class='table-responsive'>
    <table class='table table-hover'>
      <thead>
      <tr>
        <th style='width: 30px'>ID</th>
        <th>Full Name</th>
        <th>Email Address</th>
        <th>Actions</th>
      </tr>
      </thead>

      <tbody>
        <% @users.each do |user| %>
          <%= render partial: 'table_entry', locals: { user: user } %>
        <% end %>
      </tbody>
    </table>
  </div>
</div>