<div class='box-info'>

  <h2>Create new user</h2>

  <%= form_for(@user, url: {action: 'create'}, builder: LancengFormBuilder) do |f| %>
    <%= render_error_modal_for @user %>

    <%= render partial: 'users/fields', locals: { f: f } %>

    <div class='form-group'>
    <%= f.submit "Create", data: { confirm: "Create new account?" } %>
    </div>
  <% end %>

</div>