<div class="page-heading animated fadeInDownBig">
  <h1>Coupons <small>Edit coupon <i><%= @coupon.name %></i></small></h1>
</div>

<div class="row full">
  <%= render partial: 'form', locals: { coupon: @coupon } %>
</div>

