<div class="page-heading animated fadeInDownBig">
  <h1>Coupons <small>Create a new coupon</small></h1>
</div>

<div class="row full">
  <%= render partial: 'form', locals: { coupon: @coupon } %>
</div>

