<div class="user-profile-content">
  <h4>Freshdesk Timeline</h4>
  <%
     def no_ticket_id_entered; return false; end
     def ticket_id_no_ticket; return false; end
   %>

  <% if no_ticket_id_entered %>
    No freshdesk ticket ID entered for the order. Please add
    one and save the quote to view activity.
  <% elsif ticket_id_no_ticket %>
    Could not find the freshdesk ticket for the ticket ID entered.
    Please double check ticket ID is correct
  <% elsif true %>
    <%= render 'shared/freshdesk_entries', freshdesk_ticket: freshdesk_ticket %>
  <% end %>

</div>
