<div class="modal fade" id="contentModal" tabindex="-1" role="dialog" aria-labelledby="contentModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title modal-content-area" id="contentTitle">
        </h4>
      </div>
      <div class="modal-body modal-content-area" id="contentBody" align="center">
      </div>
      <div class="modal-footer modal-content-area" id="contentFooter">
      </div>
    </div>
  </div>
</div>
