<div class="modal fade" id="contentModal" tabindex="-1" role="dialog" aria-labelledby="flashModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="contentTitle">
        </h4>
      </div>
      <div class="modal-body" id="contentBody" align="center">
      </div>
      <div class="modal-footer" id="contentFooter">
      </div>
    </div>
  </div>
</div>
