<div class="modal fade" id="genericErrorModal" tabindex="-1" role="dialog" aria-labelledby="genericErrorModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content modal-content-error">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">
          <strong id="genericErrorTitle"></strong>
        </h4>
      </div>
      <div class="modal-body" id="genericErrorBody" align="center">
      </div>
    </div>
  </div>
</div>