<% if @current_user.try(:attributes) %>
  <dl id='my-store'>
    <dt>My Store</dt>
    <dd>
      <%= editable @current_user.attributes, :store_id, type: :select, data: { source: Store.all.map { |s| { s.id => s.name } } } %>
    </dd>
  </dl>
<% end %>
<div id="search">
  <% if false %>
    <%= search_field placeholder: 'Search here...' do %>
      <i class="fa fa-search"></i>
    <% end %>
  <% end %>
</div>
