
<%= render partial: 'shared/sidebar_logo' %>

<div class="left side-menu">
  <div class="body rows scroll-y">
    <div class="sidebar-inner slimscroller">
    <%= render partial: 'shared/sidebar_user_info' %>
    <%= render partial: 'shared/sidebar_search' %>
    <%= render partial: 'shared/sidebar_menu' %>
    </div><!-- End div .sidebar-inner .slimscroller -->
  </div><!-- End div .body .rows .scroll-y -->

  <!-- Sidebar footer -->
  <div class="footer rows animated fadeInUpBig">
    <div class="progress progress-xs progress-striped active">
      <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
        <span class="progress-precentage">80&#37;</span>
      </div><!-- End div .pogress-bar -->
      <a data-toggle="tooltip" title="See task progress" class="btn btn-default md-trigger" data-modal="task-progress"><i class="fa fa-inbox"></i></a>
    </div><!-- End div .progress .progress-xs -->
  </div><!-- End div .footer .rows -->
</div>
<!-- END SIDEBAR -->