
<%= render partial: 'shared/sidebar_logo' %>

<div class="left side-menu">
  <div class="body rows scroll-y">
    <div class="sidebar-inner slimscroller">
    <%= render partial: 'shared/sidebar_user_info' %>
    <%= render partial: 'shared/sidebar_search' %>
    <%= render partial: 'shared/sidebar_menu' %>
    </div><!-- End div .sidebar-inner .slimscroller -->
  </div><!-- End div .body .rows .scroll-y -->
</div>
<!-- END SIDEBAR -->