<div id="search">
  <form role="form">
    <input type="text" class="form-control search" placeholder="Search here...">
    <i class="fa fa-search"></i>
  </form>
</div>
<div>
  <!-- advanced search options link -->
</div>