<div class="page-heading animated fadeInDownBig">
  <h1>Platen/Hoops <small>Edit shipping method <i><%= @platen_hoop.name %></i></small></h1>
</div>

<div class="row full">
  <%= render partial: 'form', locals: { platen_hoop: @platen_hoop } %>
</div>

