<div class="page-heading animated fadeInDownBig">
  <h1>Platen/Hoops <small>Create a new platen/hoop</small></h1>
</div>

<div class="row full">
  <%= render partial: 'form', locals: { platen_hoop: @platen_hoop } %>
</div>

