<!-- Begin info box -->
<div class="row">

  <!-- Visitor Info Box -->
  <div class="col-sm-3 col-xs-6">
    <!-- Box info -->
    <div class="box-info">
      <!-- Icon box -->
      <div class="icon-box">
								<span class="fa-stack">
								  <i class="fa fa-circle fa-stack-2x success"></i>
								  <i class="fa fa-flag fa-stack-1x fa-inverse"></i>
								</span>
      </div><!-- End div .icon-box -->
      <!-- Text box -->
      <div class="text-box">
        <h3>2,354</h3>
        <p>VISITORS</p>
      </div><!-- End div .text-box -->
      <div class="clear"></div>
      <!-- Progress bar -->
      <div class="progress progress-xs">
        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
          <span class="sr-only">80&#37; Complete</span>
        </div>
      </div><!-- End div .progress .progress-xs -->
      <p class="text-center">15&#37; Higher than Yesterday</p>
    </div><!-- End div .info-box -->
  </div>
  <!-- End Visitor Info Box -->


  <!-- Orders Info Box -->
  <div class="col-sm-3 col-xs-6">
    <!-- Box info -->
    <div class="box-info">
      <!-- Icon box -->
      <div class="icon-box">
								<span class="fa-stack">
								  <i class="fa fa-circle fa-stack-2x danger"></i>
								  <i class="fa fa-bell fa-stack-1x fa-inverse"></i>
								</span>
      </div><!-- End div .icon-box -->
      <!-- Text box -->
      <div class="text-box">
        <h3>1,234</h3>
        <p>ORDERS</p>
      </div><!-- End div .text-box -->
      <div class="clear"></div>
      <!-- Progress bar -->
      <div class="progress progress-xs">
        <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100" style="width: 65%">
          <span class="sr-only">65&#37; Complete</span>
        </div>
      </div><!-- End div .progress .progress-xs -->
      <p class="text-center">5&#37; Higher than Yesterday</p>
    </div><!-- End div .info-box -->
  </div>
  <!-- End Orders Info Box -->


  <!-- Downloads Info Box -->
  <div class="col-sm-3 col-xs-6">
    <!-- Box info -->
    <div class="box-info">
      <!-- Icon box -->
      <div class="icon-box">
								<span class="fa-stack">
								  <i class="fa fa-circle fa-stack-2x info"></i>
								  <i class="fa fa-cloud-download fa-stack-1x fa-inverse"></i>
								</span>
      </div><!-- End div .icon-box -->
      <!-- Text box -->
      <div class="text-box">
        <h3>5,214</h3>
        <p>DOWNLOADS</p>
      </div><!-- End div .text-box -->
      <div class="clear"></div>
      <!-- Progress bar -->
      <div class="progress progress-xs">
        <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100" style="width: 95%">
          <span class="sr-only">95&#37; Complete</span>
        </div>
      </div><!-- End div .progress .progress-xs -->
      <p class="text-center">12&#37; Higher than Yesterday</p>
    </div><!-- End div .info-box -->
  </div>
  <!-- End Downloads Info Box -->


  <!-- Shipping Info Box -->
  <div class="col-sm-3 col-xs-6">
    <!-- Box info -->
    <div class="box-info">
      <!-- Icon box -->
      <div class="icon-box">
								<span class="fa-stack">
								  <i class="fa fa-circle fa-stack-2x warning"></i>
								  <i class="fa fa-truck fa-stack-1x fa-inverse"></i>
								</span>
      </div><!-- End div .icon-box -->
      <!-- Text box -->
      <div class="text-box">
        <h3>572</h3>
        <p>SHIPPING</p>
      </div><!-- End div .text-box -->
      <div class="clear"></div>
      <!-- Progress bar -->
      <div class="progress progress-xs">
        <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100" style="width: 55%">
          <span class="sr-only">55&#37; Complete</span>
        </div>
      </div><!-- End div .progress .progress-xs -->
      <p class="text-center">3&#37; Higher than Yesterday</p>
    </div><!-- End div .info-box -->
  </div>
  <!-- End Shipping Info Box -->

</div>
<!-- End of info box -->