<div class="row">
  <div class="col-md-8">
    <!-- Sales report -->
    <div class="box-info full">
      <h2><strong>Sales</strong> Report</h2>

      <!-- Additional buttons -->
      <div class="additional-btn">
        <a class="additional-icon" href="#fakelink"><i class="fa fa-refresh"></i></a>
        <a class="additional-icon" id="dropdownMenu2" data-toggle="dropdown">
          <i class="fa fa-cog"></i>
        </a>
        <ul class="dropdown-menu pull-right animated half fadeInDown" role="menu" aria-labelledby="dropdownMenu2">
          <li role="presentation"><a role="menuitem" tabindex="-1" href="#fakelink">Action</a></li>
          <li role="presentation"><a role="menuitem" tabindex="-1" href="#fakelink">Another action</a></li>
          <li role="presentation"><a role="menuitem" tabindex="-1" href="#fakelink">Something else here</a></li>
          <li role="presentation" class="divider"></li>
          <li role="presentation"><a role="menuitem" tabindex="-1" href="#fakelink">Separated link</a></li>
        </ul>
        <a class="additional-icon" href="#fakelink" data-toggle="collapse" data-target="#sales-report"><i class="fa fa-chevron-down"></i></a>
        <a class="additional-icon" href="#fakelink"><i class="fa fa-question-circle"></i></a>
      </div><!-- End div .additional-button -->

      <!-- Sales report collapse body -->
      <div id="sales-report" class="collapse in">
        <div class="table-responsive">
          <table data-sortable class="table table-striped">
            <thead>
            <tr><th>No</th><th data-sortable="false"><input type="checkbox" id="select-all-rows"></th><th>Order ID</th><th>Buyer</th><th>Status</th><th>Location</th><th>Total</th></tr>
            </thead>
            <tbody>
            <tr><td>1</td><td><input type="checkbox" class="rows-check"></td><td>#0021</td><td><a href="#fakelink">John Doe</a></td><td><span class="label label-primary">Order</span></td><td>Yogyakarta, ID</td><td><strong class="text-primary">&#36; 1,245</strong></td></tr>
            <tr><td>2</td><td><input type="checkbox" class="rows-check"></td><td>#0022</td><td><a href="#fakelink">Johnny Depp</a></td><td><span class="label label-success">Payment</span></td><td>London, UK</td><td><strong class="text-success">&#36; 1,245</strong></td></tr>
            <tr><td>3</td><td><input type="checkbox" class="rows-check"></td><td>#0023</td><td><a href="#fakelink">Annisa Rusmanovski</a></td><td><span class="label label-success">Payment</span></td><td>Canbera, AU</td><td><strong class="text-success">&#36; 1,245</strong></td></tr>
            <tr><td>4</td><td><input type="checkbox" class="rows-check"></td><td>#0024</td><td><a href="#fakelink">Hana Sartika</a></td><td><span class="label label-danger">Cancel</span></td><td>Bali, ID</td><td><strong class="text-danger">&#36; 1,245</strong></td></tr>
            <tr><td>5</td><td><input type="checkbox" class="rows-check"></td><td>#0025</td><td><a href="#fakelink">Ari Rusmanto</a></td><td><span class="label label-primary">Order</span></td><td>Bandung, ID</td><td><strong class="text-primary">&#36; 1,245</strong></td></tr>
            <tr><td>6</td><td><input type="checkbox" class="rows-check"></td><td>#0026</td><td><a href="#fakelink">Willy Wonka</a></td><td><span class="label label-danger">Cancel</span></td><td>Semarang, ID</td><td><strong class="text-danger">&#36; 1,245</strong></td></tr>
            <tr><td>7</td><td><input type="checkbox" class="rows-check"></td><td>#0027</td><td><a href="#fakelink">Mohammed Sujiono</a></td><td><span class="label label-warning">Waiting</span></td><td>New York, US</td><td><strong class="text-warning">&#36; 1,245</strong></td></tr>
            <tr><td>8</td><td><input type="checkbox" class="rows-check"></td><td>#0028</td><td><a href="#fakelink">Jenny Doe</a></td><td><span class="label label-primary">Order</span></td><td>Boston, US</td><td><strong class="text-primary">&#36; 1,245</strong></td></tr>
            </tbody>
          </table>
        </div>
      </div><!-- End div #sales-report -->
    </div>
    <!-- End sales report -->