<div class="row">
  <div class="col-md-6">
    <!-- Weather widget -->
    <div class="box-info full weather-widget">
      <%= image_tag 'weather-bg.jpg', class: 'img-responsive', alt: 'Weather city' %>
      <img src="images/weather-bg.jpg" class="img-responsive" alt="Weather city">
      <div class="overlay-weather-info">
        <h4>WEATHER WIDGET</h4>
        <div class="weather-info-city">
          <h4><i class="fa fa-map-marker"></i> YOGYAKARTA, INDONESIA</h4>
          <div class="row">
            <div class="col-xs-3">
              <i class="wi-day-sprinkle weather-icon"></i>
            </div>
            <div class="col-xs-9">
              <h5>Sprinkle day</h5>
              <h1>32<sup>&#176;</sup>C</h1>
            </div>
          </div><!-- End div .row -->
        </div><!-- End div .weather-info-city -->
      </div><!-- End div .overlay-weather-info -->
    </div><!-- End div .box-info -->
    <!-- End weather widget -->




    <!-- Begin Bar cart by country -->
    <div class="box-info success">
      <!-- Additional button -->
      <div class="additional-btn">
        <a class="additional-icon" href="#fakelink"><i class="fa fa-refresh fa-spin"></i></a>
        <a class="additional-icon" id="dropdownMenu3" data-toggle="dropdown">
          <i class="fa fa-cog"></i>
        </a>
        <ul class="dropdown-menu pull-right animated half fadeInDown" role="menu" aria-labelledby="dropdownMenu3">
          <li role="presentation"><a role="menuitem" tabindex="-1" href="#fakelink">Action</a></li>
          <li role="presentation"><a role="menuitem" tabindex="-1" href="#fakelink">Another action</a></li>
          <li role="presentation"><a role="menuitem" tabindex="-1" href="#fakelink">Something else here</a></li>
          <li role="presentation" class="divider"></li>
          <li role="presentation"><a role="menuitem" tabindex="-1" href="#fakelink">Separated link</a></li>
        </ul>
        <a class="additional-icon" href="#fakelink"><i class="fa fa-question-circle"></i></a>
      </div><!-- end div .additional-btn -->

      <!-- Call morris bar with selector #morris-bar-home -->
      <div id="morris-bar-home" style="height: 168px;"></div>
      <!-- End morris bar selector -->

      <!-- Additional info -->
      <div class="additional">
        <div class="list-box-info">
          <ul>
            <li>
              <span class="label label-success">952</span>
              INDONESIA
            </li>
            <li>
              <span class="label label-danger">955</span>
              MALAYSIA
            </li>
            <li>
              <span class="label label-warning">985</span>
              INDIA
            </li>
          </ul>
        </div>
      </div><!-- End div .additional -->
    </div><!-- End div .box-info -->
    <!-- End Bar cart by country -->
  </div><!-- End div .col-sm-6 -->

  <div class="col-md-6">
    <!-- Begin timeline -->
    <h4>Timeline</h4>
    <div class="the-timeline">
      <ul>
        <li>
          <div class="the-date">
            <span>01</span>
            <small>Feb</small>
          </div>
          <h4>Lorem ipsum dolor!</h4>
          <p>
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
          </p>
        </li>
        <li>
          <div class="the-date">
            <span>31</span>
            <small>Jan</small>
          </div>
          <h4>Yohoo! you can put video here</h4>
          <div class="videoWrapper">
            <iframe src="//player.vimeo.com/video/85847275?title=0&amp;byline=0&amp;portrait=0"></iframe>
          </div>
          <p>
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
          </p>
        </li>
        <li>
          <div class="the-date">
            <span>20</span>
            <small>Des</small>
          </div>
          <p>
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
          </p>
        </li>
      </ul>
    </div><!-- End div .the-timeline -->
    <!-- End timeline -->
  </div><!-- End div .col-sm-6 -->
</div><!-- End div .row -->