<div class="page-heading">
  <h1>Dashboard <small>your first page</small></h1>
</div>

<div class="box-info full">
  <h2><strong>Nifty</strong> Modal</h2>
  <div class="alert alert-danger" style="margin: 15px;">
    <strong>Please note</strong> : this only works as intended in browsers that support the respective CSS
    properties. Modern browsers only!
  </div>
  <div class="table-responsive">
    <table class="table">
      <tbody>
      <tr><td>Modal Fade In adn Scale</td><td><button class="btn btn-default btn-sm md-trigger" data-modal="md-fade-in-scale-up">Fade in &amp; Scale</button></td><td><code>class &#61; &#34;md-trigger&#34; data-modal &#61; &#34;md-fade-in-scale-up&#34;</code></td></tr>
      <tr><td>Modal Slide In (Right)</td><td><button class="btn btn-default btn-sm md-trigger" data-modal="md-slide-in-right">Slide in (right)</button></td><td><code>class &#61; &#34;md-trigger&#34; data-modal &#61; &#34;md-slide-in-right&#34;</code></td></tr>
      <tr><td>Modal Slide In (Button)</td><td><button class="btn btn-default btn-sm md-trigger" data-modal="md-slide-from-bottom">Slide in (bottom)</button></td><td><code>class &#61; &#34;md-trigger&#34; data-modal &#61; &#34;md-slide-from-bottom&#34;</code></td></tr>
      <tr><td>Modal Newspaper</td><td><button class="btn btn-default btn-sm md-trigger" data-modal="md-newspaper">Newspaper</button></td><td><code>class &#61; &#34;md-trigger&#34; data-modal &#61; &#34;md-newspaper&#34;</code></td></tr>
      <tr><td>Modal Fall</td><td><button class="btn btn-default btn-sm md-trigger" data-modal="md-fall">Fall</button></td><td><code>class &#61; &#34;md-trigger&#34; data-modal &#61; &#34;md-fall&#34;</code></td></tr>
      <tr><td>Modal Side Fall</td><td><button class="btn btn-default btn-sm md-trigger" data-modal="md-side-fall">Side Fall</button></td><td><code>class &#61; &#34;md-trigger&#34; data-modal &#61; &#34;md-side-fall&#34;</code></td></tr>
      <tr><td>Modal Sticky Up</td><td><button class="btn btn-default btn-sm md-trigger" data-modal="md-slide-stick-top">Sticky Up</button></td><td><code>class &#61; &#34;md-trigger&#34; data-modal &#61; &#34;md-slide-stick-top&#34;</code></td></tr>
      <tr><td>Modal 3D Flip (Horizontal)</td><td><button class="btn btn-default btn-sm md-trigger" data-modal="md-3d-flip-horizontal">3D Flip (horizontal)</button></td><td><code>class &#61; &#34;md-trigger&#34; data-modal &#61; &#34;md-3d-flip-horizontal&#34;</code></td></tr>
      <tr><td>Modal 3D Flip (Vertical)</td><td><button class="btn btn-default btn-sm md-trigger" data-modal="md-3d-flip-vertical">3D Flip (vertical)</button></td><td><code>class &#61; &#34;md-trigger&#34; data-modal &#61; &#34;md-3d-flip-vertical&#34;</code></td></tr>
      <tr><td>Modal 3D Sign</td><td><button class="btn btn-default btn-sm md-trigger" data-modal="md-3d-sign">3D Sign</button></td><td><code>class &#61; &#34;md-trigger&#34; data-modal &#61; &#34;md-3d-sign&#34;</code></td></tr>
      <tr><td>Modal Super Scaled</td><td><button class="btn btn-default btn-sm md-trigger" data-modal="md-super-scaled">Super Scaled</button></td><td><code>class &#61; &#34;md-trigger&#34; data-modal &#61; &#34;md-super-scaled&#34;</code></td></tr>
      <tr><td>Modal Just Me</td><td><button class="btn btn-default btn-sm md-trigger" data-modal="md-just-me">Just Me</button></td><td><code>class &#61; &#34;md-trigger&#34; data-modal &#61; &#34;md-just-me&#34;</code></td></tr>
      <tr><td>Modal 3D Slit</td><td><button class="btn btn-default btn-sm md-trigger" data-modal="md-3d-slit">3D Slit</button></td><td><code>class &#61; &#34;md-trigger&#34; data-modal &#61; &#34;md-3d-slit&#34;</code></td></tr>
      <tr><td>Modal 3D Rotate Bottom</td><td><button class="btn btn-default btn-sm md-trigger" data-modal="md-rotate-from-bottom">3D Rotate Bottom</button></td><td><code>class &#61; &#34;md-trigger&#34; data-modal &#61; &#34;md-rotate-from-bottom&#34;</code></td></tr>
      <tr><td>Modal 3D Rotate In Left</td><td><button class="btn btn-default btn-sm md-trigger" data-modal="md-rotate-from-left">3D Rotate In Left</button></td><td><code>class &#61; &#34;md-trigger&#34; data-modal &#61; &#34;md-rotate-from-left&#34;</code></td></tr>
      </tbody>
    </table>
  </div>
</div>


<!-- Modal fade in scale up -->
<div class="md-modal md-fade-in-scale-up" id="md-fade-in-scale-up">
  <div class="md-content">
    <h3>Modal Dialog</h3>
    <div>
      <p>This is a modal window. You can do the following things with it:</p>
      <ul>
        <li><strong>Read:</strong> modal windows will probably tell you something important so don't forget to read what they say.</li>
        <li><strong>Look:</strong> a modal window enjoys a certain kind of attention; just look at it and appreciate its presence.</li>
        <li><strong>Close:</strong> click on the button below to close the modal.</li>
      </ul>
      <p>
        <button class="btn btn-danger md-close">Close me!</button>
        <button class="btn btn-success md-close">Some button</button>
      </p>
    </div>
  </div><!-- End div .md-content -->
</div><!-- End div .md-modal .md-fade-in-scale-up -->
<!-- Modal slide in right -->
<div class="md-modal md-slide-in-right" id="md-slide-in-right">
  <div class="md-content">
    <h3>Modal Dialog</h3>
    <div>
      <p>This is a modal window. You can do the following things with it:</p>
      <ul>
        <li><strong>Read:</strong> modal windows will probably tell you something important so don't forget to read what they say.</li>
        <li><strong>Look:</strong> a modal window enjoys a certain kind of attention; just look at it and appreciate its presence.</li>
        <li><strong>Close:</strong> click on the button below to close the modal.</li>
      </ul>
      <p>
        <button class="btn btn-danger md-close">Close me!</button>
        <button class="btn btn-success md-close">Some button</button>
      </p>
    </div>
  </div><!-- End div .md-content -->
</div><!-- End div .md-modal .md-slide-in-right -->
<!-- Modal slide from bottom -->
<div class="md-modal md-slide-from-bottom" id="md-slide-from-bottom">
  <div class="md-content">
    <h3>Modal Dialog</h3>
    <div>
      <p>This is a modal window. You can do the following things with it:</p>
      <ul>
        <li><strong>Read:</strong> modal windows will probably tell you something important so don't forget to read what they say.</li>
        <li><strong>Look:</strong> a modal window enjoys a certain kind of attention; just look at it and appreciate its presence.</li>
        <li><strong>Close:</strong> click on the button below to close the modal.</li>
      </ul>
      <p>
        <button class="btn btn-danger md-close">Close me!</button>
        <button class="btn btn-success md-close">Some button</button>
      </p>
    </div>
  </div><!-- End div .md-content -->
</div><!-- End div .md-modal .md-slide-from-bottom -->
<!-- Modal newspaper -->
<div class="md-modal md-newspaper" id="md-newspaper">
  <div class="md-content">
    <h3>Modal Dialog</h3>
    <div>
      <p>This is a modal window. You can do the following things with it:</p>
      <ul>
        <li><strong>Read:</strong> modal windows will probably tell you something important so don't forget to read what they say.</li>
        <li><strong>Look:</strong> a modal window enjoys a certain kind of attention; just look at it and appreciate its presence.</li>
        <li><strong>Close:</strong> click on the button below to close the modal.</li>
      </ul>
      <p>
        <button class="btn btn-danger md-close">Close me!</button>
        <button class="btn btn-success md-close">Some button</button>
      </p>
    </div>
  </div><!-- End div .md-content -->
</div><!-- End div .md-modal .md-newspaper -->
<!-- Modal fall -->
<div class="md-modal md-fall" id="md-fall">
  <div class="md-content">
    <h3>Modal Dialog</h3>
    <div>
      <p>This is a modal window. You can do the following things with it:</p>
      <ul>
        <li><strong>Read:</strong> modal windows will probably tell you something important so don't forget to read what they say.</li>
        <li><strong>Look:</strong> a modal window enjoys a certain kind of attention; just look at it and appreciate its presence.</li>
        <li><strong>Close:</strong> click on the button below to close the modal.</li>
      </ul>
      <p>
        <button class="btn btn-danger md-close">Close me!</button>
        <button class="btn btn-success md-close">Some button</button>
      </p>
    </div>
  </div><!-- End div .md-content -->
</div><!-- End div .md-modal .md-fall -->
<!-- Modal side fall -->
<div class="md-modal md-side-fall" id="md-side-fall">
  <div class="md-content">
    <h3>Modal Dialog</h3>
    <div>
      <p>This is a modal window. You can do the following things with it:</p>
      <ul>
        <li><strong>Read:</strong> modal windows will probably tell you something important so don't forget to read what they say.</li>
        <li><strong>Look:</strong> a modal window enjoys a certain kind of attention; just look at it and appreciate its presence.</li>
        <li><strong>Close:</strong> click on the button below to close the modal.</li>
      </ul>
      <p>
        <button class="btn btn-danger md-close">Close me!</button>
        <button class="btn btn-success md-close">Some button</button>
      </p>
    </div>
  </div><!-- End div .md-content -->
</div><!-- End div .md-modal .md-side-fall -->
<!-- Modal slide stick top -->
<div class="md-modal md-slide-stick-top" id="md-slide-stick-top">
  <div class="md-content">
    <h3>Modal Dialog</h3>
    <div>
      <p>This is a modal window. You can do the following things with it:</p>
      <ul>
        <li><strong>Read:</strong> modal windows will probably tell you something important so don't forget to read what they say.</li>
        <li><strong>Look:</strong> a modal window enjoys a certain kind of attention; just look at it and appreciate its presence.</li>
        <li><strong>Close:</strong> click on the button below to close the modal.</li>
      </ul>
      <p>
        <button class="btn btn-danger md-close">Close me!</button>
        <button class="btn btn-success md-close">Some button</button>
      </p>
    </div>
  </div><!-- End div .md-content -->
</div><!-- End div .md-modal .md-slide-stick-top -->
<!-- Modal 3d flip horizontal -->
<div class="md-modal md-3d-flip-horizontal" id="md-3d-flip-horizontal">
  <div class="md-content">
    <h3>Modal Dialog</h3>
    <div>
      <p>This is a modal window. You can do the following things with it:</p>
      <ul>
        <li><strong>Read:</strong> modal windows will probably tell you something important so don't forget to read what they say.</li>
        <li><strong>Look:</strong> a modal window enjoys a certain kind of attention; just look at it and appreciate its presence.</li>
        <li><strong>Close:</strong> click on the button below to close the modal.</li>
      </ul>
      <p>
        <button class="btn btn-danger md-close">Close me!</button>
        <button class="btn btn-success md-close">Some button</button>
      </p>
    </div>
  </div><!-- End div .md-content -->
</div><!-- End div .md-modal .md-3d-flip-horizontal -->
<!-- Modal 3d flip vertical -->
<div class="md-modal md-3d-flip-vertical" id="md-3d-flip-vertical">
  <div class="md-content">
    <h3>Modal Dialog</h3>
    <div>
      <p>This is a modal window. You can do the following things with it:</p>
      <ul>
        <li><strong>Read:</strong> modal windows will probably tell you something important so don't forget to read what they say.</li>
        <li><strong>Look:</strong> a modal window enjoys a certain kind of attention; just look at it and appreciate its presence.</li>
        <li><strong>Close:</strong> click on the button below to close the modal.</li>
      </ul>
      <p>
        <button class="btn btn-danger md-close">Close me!</button>
        <button class="btn btn-success md-close">Some button</button>
      </p>
    </div>
  </div><!-- End div .md-content -->
</div><!-- End div .md-modal .md-3d-flip-vertical -->
<!-- Modal 3d sign -->
<div class="md-modal md-3d-sign" id="md-3d-sign">
  <div class="md-content">
    <h3>Modal Dialog</h3>
    <div>
      <p>This is a modal window. You can do the following things with it:</p>
      <ul>
        <li><strong>Read:</strong> modal windows will probably tell you something important so don't forget to read what they say.</li>
        <li><strong>Look:</strong> a modal window enjoys a certain kind of attention; just look at it and appreciate its presence.</li>
        <li><strong>Close:</strong> click on the button below to close the modal.</li>
      </ul>
      <p>
        <button class="btn btn-danger md-close">Close me!</button>
        <button class="btn btn-success md-close">Some button</button>
      </p>
    </div>
  </div><!-- End div .md-content -->
</div><!-- End div .md-modal .md-3d-sign -->
<!-- Modal super scaled -->
<div class="md-modal md-super-scaled" id="md-super-scaled">
  <div class="md-content">
    <h3>Modal Dialog</h3>
    <div>
      <p>This is a modal window. You can do the following things with it:</p>
      <ul>
        <li><strong>Read:</strong> modal windows will probably tell you something important so don't forget to read what they say.</li>
        <li><strong>Look:</strong> a modal window enjoys a certain kind of attention; just look at it and appreciate its presence.</li>
        <li><strong>Close:</strong> click on the button below to close the modal.</li>
      </ul>
      <p>
        <button class="btn btn-danger md-close">Close me!</button>
        <button class="btn btn-success md-close">Some button</button>
      </p>
    </div>
  </div><!-- End div .md-content -->
</div><!-- End div .md-modal .md-super-scaled -->
<!-- Modal just me -->
<div class="md-modal md-just-me" id="md-just-me">
  <div class="md-content">
    <h3>Modal Dialog</h3>
    <div>
      <p>This is a modal window. You can do the following things with it:</p>
      <ul>
        <li><strong>Read:</strong> modal windows will probably tell you something important so don't forget to read what they say.</li>
        <li><strong>Look:</strong> a modal window enjoys a certain kind of attention; just look at it and appreciate its presence.</li>
        <li><strong>Close:</strong> click on the button below to close the modal.</li>
      </ul>
      <p>
        <button class="btn btn-danger md-close">Close me!</button>
        <button class="btn btn-success md-close">Some button</button>
      </p>
    </div>
  </div><!-- End div .md-content -->
</div><!-- End div .md-modal .md-just-me -->
<!-- Modal 3d slit -->
<div class="md-modal md-3d-slit" id="md-3d-slit">
  <div class="md-content">
    <h3>Modal Dialog</h3>
    <div>
      <p>This is a modal window. You can do the following things with it:</p>
      <ul>
        <li><strong>Read:</strong> modal windows will probably tell you something important so don't forget to read what they say.</li>
        <li><strong>Look:</strong> a modal window enjoys a certain kind of attention; just look at it and appreciate its presence.</li>
        <li><strong>Close:</strong> click on the button below to close the modal.</li>
      </ul>
      <p>
        <button class="btn btn-danger md-close">Close me!</button>
        <button class="btn btn-success md-close">Some button</button>
      </p>
    </div>
  </div><!-- End div .md-content -->
</div><!-- End div .md-modal .md-3d-slit -->
<!-- Modal rotate from bottom -->
<div class="md-modal md-rotate-from-bottom" id="md-rotate-from-bottom">
  <div class="md-content">
    <h3>Modal Dialog</h3>
    <div>
      <p>This is a modal window. You can do the following things with it:</p>
      <ul>
        <li><strong>Read:</strong> modal windows will probably tell you something important so don't forget to read what they say.</li>
        <li><strong>Look:</strong> a modal window enjoys a certain kind of attention; just look at it and appreciate its presence.</li>
        <li><strong>Close:</strong> click on the button below to close the modal.</li>
      </ul>
      <p>
        <button class="btn btn-danger md-close">Close me!</button>
        <button class="btn btn-success md-close">Some button</button>
      </p>
    </div>
  </div><!-- End div .md-content -->
</div><!-- End div .md-modal .md-rotate-from-bottom -->
<!-- Modal rotate from left -->
<div class="md-modal md-rotate-from-left" id="md-rotate-from-left">
  <div class="md-content">
    <h3>Modal Dialog</h3>
    <div>
      <p>This is a modal window. You can do the following things with it:</p>
      <ul>
        <li><strong>Read:</strong> modal windows will probably tell you something important so don't forget to read what they say.</li>
        <li><strong>Look:</strong> a modal window enjoys a certain kind of attention; just look at it and appreciate its presence.</li>
        <li><strong>Close:</strong> click on the button below to close the modal.</li>
      </ul>
      <p>
        <button class="btn btn-danger md-close">Close me!</button>
        <button class="btn btn-success md-close">Some button</button>
      </p>
    </div>
  </div><!-- End div .md-content -->
</div><!-- End div .md-modal .md-rotate-from-left -->