<div class="page-heading animated fadeInDownBig col-ls-9">
  <h1>Edit Settings</h1>
</div>

<%= render 'form', freshdesk_settings: @freshdesk_settings, insightly_settings: @insightly_settings, production_crm_settings: @production_crm_settings, payflow_settings: @payflow_settings %>
