<div class="page-heading animated fadeInDownBig col-lg-9">
  <h1>Sizes <small>Configure the sizes available for imprintables</small></h1>
</div>

<div class="col-lg-9">
  <%= render partial: 'sizes/search' %>
</div>

<div class="col-lg-3 text-right">
  <%= link_to 'Add a Size', new_size_path, class: 'btn btn-primary' %>
</div>

<div class="box-info row clear">
  <%= render 'table', sizes: @sizes %>
</div>
