<div class='user-profile-content'>
  <div class="row">
    <div class="col-sm-12" id="artwork-request-list">
      <h3><strong>Artwork</strong> Request</h3>

      <% order.jobs.each do |job| %>
          <% job.artwork_requests.each do |artwork_request| %>
              <%= render partial 'artwork_view', locals: {artwork_request: artwork_request} %>
          <% end %>
      <% end %>

      <div class="row">
        <div class="col-sm-4">
          <a class="btn btn-info btn-lg btn-block add-artwork-request" onclick="addArtworkRequest(<%= order.id %>)"><i class="fa fa-list-alt"></i> Add Artwork Request </a>
        </div>
      </div>
    </div>
  </div>
</div>