<button class='btn btn-default' data-dismiss='modal'>Close</button>
<%= form_for @order do |f| %>
  <%= f.hidden_field :canceled, value: '1' %>
  <%= f.submit 'Cancel Order', class: 'btn btn-warning' %>
<% end %>
