<% if fba.errors? %>
  <p class='text-danger'>
    ERRORS:
    <ul>
      <% fba.errors.uniq.each do |error| %>
        <li><%= error %></li>
      <% end %>
    </ul>
    <% if fba.jobs.empty? %>
      No line items will be generated.
    <% else %>
      Some line items will be generated.
    <% end %>
  </p>
<% else %>
  <p class='text-success'>
    <span class='glyphicon glyphicon-ok'></span>
    Job and line items will be generated.
  </p>
<% end %>

<%= hidden_field_tag('fba_jobs[]', fba.to_h.to_json) %>
