<% if error = fba[:fatal_error] %>
  <p class='text-danger'>
    ERROR: <%= error %>
  </p>
<% elsif !fba[:errors].empty? %>
  <p class='text-danger'>
    ERRORS:
    <ul>
      <% fba[:errors].each do |error| %>
        <li><%= error.respond_to?(:call) ? error.call(self).html_safe : error %></li>
      <% end %>
    </ul>
    <% if fba[:jobs_attributes].empty? %>
      No line items will be added.
    <% else %>
      Some line items will be added.
    <% end %>
  </p>
<% else %>
  <p class='text-success'>
    <span class='glyphicon glyphicon-ok'></span>
    Jobs and line items will be added.
  </p>
<% end %>

<%= hash_to_hidden_fields(fba[:jobs_attributes], 'order[jobs_attributes]') if fba[:jobs_attributes] %>
