<%= render_error_modal_for order %>
<%= form_for order, builder: LancengFormBuilder, html: { id: 'easyWizard'} do |f| %>
  <section class="step" data-step-title="Order Information">
    <div class="row">
      <div class="col-sm-6">
        <div class="form-group">
          <%= render partial: 'fba_order_detail_fields', locals: { f: f } %>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="notes">
          <h4>Order Information Instructions</h4>

          <p style="text-align: justify">
              Enter a name for the order, and a deadline.
          </p>

          <ol>
          </ol>

        </div>
      </div>
    </div>
  </section>

  <section class="step" data-step-title="Amazon Packing Slips">
    <div class="row">
      <div class="col-sm-6">
        <%= render partial: 'fba_packing_slip_upload',
                   locals: { current_user: current_user, f: f } %>
      </div>

      <div class="col-sm-6">
        <div class="notes">
          <h4>Packing Slip Validation</h4>

          <p style="text-align: justify">
            Upload one or more packing slip .txt files from Amazon.
          </p>

          <p style="text-align: justify">
            One job will be created for each packing slip uploaded.
            Job name and line items will be generated if the packing
            slip is valid. It is recommended you validate the packing
            slips before submitting the order, so that you know if
            there were any issues while parsing the packing slips.
          </p>

        </div>
      </div>
    </div>
  </section>

  <!-- <section class="step" data-step-title="Validation">
    <div class="row">
      <div class="col-sm-6">
        <div class="form-group">
          validate me
        </div>
      </div>

      <div class="col-sm-6">
        <div class="notes">
          <h4>Packing Slip Validation</h4>

          <p style="text-align: justify">
            Here you can validate the integrity of the packing slips.
          </p>

          <p style="text-align: justify">
            This lets you find out if there is any sizes or colors
            that haven't been registered in the CRM.
          </p>

        </div>
      </div>
    </div>
  </section> -->
<% end %>
