<div class="col-sm-4">

  <div class="box-info">
    <div class="form-group">
      <label for="inputUsername">Print Location</label>
      <select class="form-control">
        <option><%= %w(Front Back Sleeve Collar).sample %></option>
        <option>Full Chest</option>
        <option>Full Back</option>
        <option>Left Chest</option>
        <option>Collar</option>
        <option>Right Sleeve</option>
        <option>Left Sleeve</option>
      </select>
    </div>

    <div class="form-group">
      <label for="inputUsername">Print Method</label>
      <select class="form-control">
        <option><%= %w(Digital Screen Transfer).sample %></option>
        <option>Digital</option>
        <option>Screen Print</option>
        <option>Transfer</option>
      </select>
    </div>

    <div class="full text-right">
      <i class="fa fa-2x danger fa-times-circle"></i>
    </div>

  </div>

</div>