<div class="row full imprints-container">
  <% job.imprints.each do |imprint| %>
    <%= render partial: 'orders/imprint', locals: {
      job: job, imprint_method: imprint.imprint_method,
      imprint.id
    } %>
  <% end %>
</div>