<%= render partial: 'job', locals: { job: Job.new } %>

<div class="form-group box-info">
  <div class="col-sm-4 col-xs-offset-4">
    <button type="submit" id='new-job-button' class="btn btn-info btn-lg btn-block"><i class="fa fa-plus-square"></i> New Job</button>
  </div>
</div>
