<div class="row" style="border-bottom: solid 1px #dddddd">
    <div class="col-lg-5">
      <h6><strong>Athletic Knit</strong> H550B - STL653B</h6>
      <p>
        AK-KNIT - 100% POLYESTER, KNITTED BODY AND SLEEVE STRIPES, TWO COLOUR KNITTED NECK WITH UNDERLAY, DOUBLE SHOULDERS, DOUBLE ELBOWS
      </p>
    </div>
    <div class="col-lg-7">
      <div class="col-sm-2"></div>
      <div class="col-sm-1 imprintable-line-item-input">
          <label for="inputUsername">S</label>
          <input type="text" id="inputSmall" class="form-control" value="3">
          <input type="text" value="15.95" class="form-control">
      </div>

      <div class="col-sm-1 imprintable-line-item-input">

          <label for="inputUsername">M</label>
        <input type="text" id="inputSmall" class="form-control" value="3">
        <input type="text" value="15.95" class="form-control">

      </div>
      <div class="col-sm-1 imprintable-line-item-input">
          <label for="inputUsername">L</label>
        <input type="text" id="inputSmall" class="form-control" value="3">
        <input type="text" value="15.95" class="form-control">

      </div>
      <div class="col-sm-1 imprintable-line-item-input">

          <label for="inputUsername">XL</label>
        <input type="text" id="inputSmall" class="form-control" value="3">
        <input type="text" value="15.95" class="form-control">

      </div>
      <div class="col-sm-1 imprintable-line-item-input">

          <label for="inputUsername">2XL</label>
        <input type="text" id="inputSmall" class="form-control" value="3">
        <input type="text" value="15.95" class="form-control">

      </div>
      <div class="col-sm-1 imprintable-line-item-input">

          <label for="inputUsername">3XL</label>
        <input type="text" id="inputSmall" class="form-control" value="3">
        <input type="text" value="15.95" class="form-control">

      </div>
      <div class="col-sm-1 imprintable-line-item-input">

          <label for="inputUsername">4XL</label>
        <input type="text" id="inputSmall" class="form-control" value="3">
        <input type="text" value="15.95" class="form-control">

      </div>
      <div class="col-sm-1 imprintable-line-item-input">

          <label for="inputUsername">5XL</label>
        <input type="text" id="inputSmall" class="form-control" value="3">
        <input type="text" value="15.95" class="form-control">

      </div>
      <div class="col-sm-1 imprintable-line-item-input">

          <label for="inputUsername">6XL</label>
        <input type="text" id="inputSmall" class="form-control" value="3">
        <input type="text" value="15.95" class="form-control">

      </div>
      <div class="col-sm-1">
        <i class="fa fa-2x danger fa-times-circle"></i>
      </div>
    </div>

  </div>


