<div>

  <table class="table">
    <thead>
    <tr>
      <th>NON IMPRINTABLE ITEMS</th>
      <th>TAXABLE</th>
      <th>QTY</th>
      <th>UNIT PRICE</th>
      <th>TOTAL</th>
    </tr>
    </thead>

    <tbody>
    <tr>
      <td>Nasi Gudeg Pakai Suwir</td>
      <td>YES</td>
      <td>5</td>
      <td>$2.00</td>
      <td>$10.00</td>
    </tr>
    <tr>
      <td>Jeruk Anget Gelas Gede</td>
      <td>YES</td>
      <td>3</td>
      <td>$0.50</td>
      <td>$1.50</td>
    </tr>
    <tr>
      <td>Teh Tawar Anget Gelas Gede</td>
      <td>YES</td>
      <td>2</td>
      <td>$0.50</td>
      <td>$1.00</td>
    </tr>
    </tbody>
  </table>
</div>