<div class="form-group">
  <label for="inputUsername">Title</label>
  <input type="text" id="inputUsername" placeholder="Title used internally by company" class="form-control">
</div>
<div class="form-group">
  <label for="inputUsername">P.O. Number</label>
  <input type="text" id="inputUsername" placeholder="Purchase Order if required by customer" class="form-control">
</div>
<div class="form-group">
  <label for="inputUsername">In Hand By Date</label>
  <input type="datetime" id="inputUsername" placeholder="In Hand By" class="form-control datepicker-input">
</div>
<div class="form-group">
  <label for="inputUsername">Payment Terms</label>
  <select class="form-control">
    <option></option>
    <option>Paid in full on purchase</option>
    <option>Half down on purchase</option>
    <option>Paid in full on pick up</option>
    <option>Net 30</option>
    <option>Net 60</option>
  </select>
</div>
<div class="form-group">
  <label for="Tax Exempt">Tax Exempt?</label>
  <div class="input-group">
                <span class="input-group-addon">
                    <input type="checkbox">
                </span>
    <input type="text" class="form-control" placeholder="Tax ID Number">
  </div>
</div>
<div class="form-group">
  <label for="redo">Is this order a redo?</label>
  <div class="input-group">
                <span class="input-group-addon">
                    <input type="checkbox">
                </span>
    <textarea class="form-control" placeholder="Redo Explanation"></textarea>
  </div>
</div>