<div class="modal fade" id="packingSlipModal" tabindex="-1" role="dialog" aria-labelledby="packingSlipModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title modal-content-area" id="packingSlipTitle">Upload packing slip(s)</h4>
      </div>

      <%= form_tag fba_job_info_orders_path, remote: true, id: 'js-packing-slip-form', multipart: true, format: 'js' do %>

        <div class="modal-body modal-content-area">
          <div id='js-packing-slips'>
            <%= file_field_tag 'packing_slips[]', multiple: true %>
          </div>
          <div id='js-packing-slip-urls'>
            <%= text_area_tag 'packing_slip_urls', '', placeholder: 'Paste urls here (one per line)', class: 'form-control' %>
          </div>
        </div>

        <div class="modal-footer modal-content-area" id="packingSlipFooter">
          <%= submit_tag 'Upload', id: 'js-submit-packing-slips', class: 'btn btn-info' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
