<div class="modal fade" id="packingSlipModal" tabindex="-1" role="dialog" aria-labelledby="packingSlipModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button id="close-packing-slip-modal" type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title modal-content-area" id="packingSlipTitle">Upload packing slip(s)</h4>
      </div>

      <%= form_tag fba_job_info_orders_path, remote: true, id: 'js-packing-slip-form', multipart: true, format: 'js', class: 'dropzone order-step-1' do %>
      <% end %>
    </div>
  </div>
</div>
