<div class="user-profile-content">
  <div class="col-sm-6">
    <!-- Box info -->
    <div class="box-info">
      <!-- Icon box -->
      <div class="icon-box">
            <span class="fa-stack">
              <i class="fa fa-circle fa-stack-2x success"></i>
              <i class="fa fa-dollar fa-stack-1x fa-inverse"></i>
            </span>
      </div><!-- End div .icon-box -->
      <!-- Text box -->
      <div class="text-box">
        <h3>$1,055.00</h3>
        <p>Balance</p>
      </div>

      <div class="clear"></div>

      <div class="progress progress-xs">
        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
          <span class="sr-only">80&#37; Paid</span>
        </div>
      </div>

    </div>
  </div>

  <div class="col-sm-6">
    <h3><strong>Apply</strong> Payment</h3>
    <div class="btn-group btn-group-sm">
      <a data-toggle="tooltip" title="Edit" class="btn btn-default"><i class="fa fa-money"></i> Cash</a>
      <a data-toggle="tooltip" title="Quick View" class="btn btn-default"><i class="fa fa-credit-card"></i> Swiped CreditCard</a>
      <a data-toggle="tooltip" title="Order Timeline" class="btn btn-default md-trigger"><i class="fa fa-edit"></i> Check</a>
      <a data-toggle="tooltip" title="Printable Invoice" class="btn btn-default"><i class="fa fa-rub"></i> PayPal</a>
      <a data-toggle="tooltip" title="Printable Invoice" class="btn btn-default"><i class="fa fa-code-fork"></i> Wire Transfer</a>
    </div>

    <h3><strong>Make</strong> Payment</h3>
    <div class="btn-group btn-group-sm">
      <a data-toggle="tooltip" title="Quick View" class="btn btn-default"><i class="fa fa-credit-card"></i> eCreditCard</a>
      <a data-toggle="tooltip" title="Printable Invoice" class="btn btn-default"><i class="fa fa-rub"></i> Request from PayPal</a>
    </div>
  </div>

  <div class="col-sm-12">
    <h3><strong>Payments</strong> List</h3>
  </div>
</div>