

<div class="box-info">
  <h2>Order Search Form</h2>
  <!-- Additional button -->
  <div class="additional-btn">
    <a class="additional-icon" href="#fakelink" data-toggle="collapse" data-target="#horizontal-form"><i class="fa fa-chevron-down"></i></a>
    <a class="additional-icon" href="#fakelink"><i class="fa fa-question-circle"></i></a>
  </div><!-- End div .additional-btn -->
  <!-- Horizontal form body -->
  <div id="horizontal-form" class="collapse out">
    <form class="form-horizontal" role="form">
        <div class="col-sm-4">
          <div class="form-group">
            <label for="inputEmail3" class="col-sm-2 control-label">Email</label>
            <div class="col-sm-10">
              <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
            </div>
          </div>
          <div class="form-group">
            <label for="inputPassword3" class="col-sm-2 control-label"></label>
            <div class="col-sm-10">
              <input type="password" class="form-control" id="inputPassword3" placeholder="Password">
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <div class="checkbox">
                <label>
                  <input type="checkbox"> Remember me
                </label>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="form-group">
            <label for="inputEmail3" class="col-sm-2 control-label">First Name</label>
            <div class="col-sm-10">
              <input type="email" class="form-control" id="inputEmail3" placeholder="First Name">
            </div>
          </div>
          <div class="form-group">
            <label for="inputPassword3" class="col-sm-2 control-label">Company</label>
            <div class="col-sm-10">
              <input type="password" class="form-control" id="inputPassword3" placeholder="Company">
            </div>
          </div>
        </div>
      <div class="col-sm-4">
        <div class="form-group">
          <label for="inputEmail3" class="col-sm-2 control-label">Last Name</label>
          <div class="col-sm-10">
            <input type="email" class="form-control" id="inputEmail3" placeholder="Last Name">
          </div>
        </div>
        <div class="form-group">
          <label for="inputPassword3" class="col-sm-2 control-label">Order Title</label>
          <div class="col-sm-10">
            <input type="password" class="form-control" id="inputPassword3" placeholder="Password">
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-offset-3 col-sm-6">
          <button type="submit" class="btn btn-primary btn-lg btn-block">Search</button>
        </div>
      </div>
    </form>
  </div><!-- End div #horizontal-from -->
 </div>