<div class="user-profile-content">

  <!-- Begin timeline -->
  <div class="the-timeline">
    <form role="form" class="post-to-timeline">
      <textarea class="form-control" style="height: 50px;" placeholder="Manually add comment to the timeline..."></textarea>
      <p class="text-right"><button type="submit" class="btn btn-primary">Post</button></p>
    </form>

    <ul>
      <li>
        <div class="the-date">
          <span>01</span>
          <small>Feb</small>
        </div>
        <h4>Artwork Approved</h4>
        <p>
          Artwork Approved by Chet McGillicutty
        </p>
      </li>
      <li>
        <div class="the-date">
          <span>31</span>
          <small>Jan</small>
        </div>
        <h4>Artwork Submitted to Customer For Approval</h4>
        <%= image_tag 'sample-images/sample-proof.jpg', style: 'width: 80%' %>
        <p>
          Submitted by Ryan Lawcock
        </p>
      </li>
      <li>
        <div class="the-date">
          <span>31</span>
          <small>Jan</small>
        </div>
        <h4>Proof Request Initiated</h4>
        <p>
          Requested by Jack Koch
        </p>
      </li>
      <li>
        <div class="the-date">
          <span>25</span>
          <small>Jan</small>
        </div>
        <h4>Payment Made</h4>
        <p>
          Payment of $199.05 made by Rob Riggle via PayPal
        </p>
      </li>
      <li>
        <div class="the-date">
          <span>20</span>
          <small>Dec</small>
        </div>
        <h4>Order Created</h4>
        <p>
          Created by Jack Koch
        </p>
      </li>
    </ul>
  </div><!-- End div .the-timeline -->
  <!-- End timeline -->
</div><!-- End div .user-profile-content -->