showContentModal({
  title: "Order cancelation",
  body: $("<%= render 'cancelation_status', order: @order %>"),
<% if @order.valid? %>
  footer: $("<%= render 'cancel_order_form', order: @order %>")
<% else %>
  footer: $("<button class='btn btn-default' data-dismiss='modal'>Close</button>")
<% end %>
});
