<h1>Custom Print Orders</h1>

<div>
  <ul class="pagination pagination-lg">
    <li><a href="#fakelink">&laquo;</a></li>
    <li><a href="#fakelink">1</a></li>
    <li><a href="#fakelink">2</a></li>
    <li><a href="#fakelink">3</a></li>
    <li><a href="#fakelink">4</a></li>
    <li><a href="#fakelink">5</a></li>
    <li><a href="#fakelink">&raquo;</a></li>
  </ul>
</div>



<div class="box-info full">
  <div class="table-responsive">
    <table class="table table-hover">
      <thead>
      <tr>
        <th style="width: 30px">ID</th>
        <th style="width: 30px">Log</th>
        <th>Order</th>
        <th>Salesperson</th>
        <th>Sales Status</th>
        <th>Total</th>
        <th>Balance</th>
        <th>Imprintable Status</th>
        <th>Artwork Status</th>
        <th>Production Status</th>
        <th>Delivery Status</th>
        <th>Actions</th>
      </tr>
      </thead>

      <tbody>
      <tr>
        <td>1</td>
        <td>
          <div class="btn-group btn-group-xs">
            <a data-toggle="tooltip" title="Show Order Log" class="btn btn-default"><i class="fa fa-list-alt"></i></a>
          </div>
        </td>
        <td>
          Michigan Football Camp<br />
          Ricky Winowiecki<br />
          slikstir@umich.edu
        </td>
        <td>Jack Koch</td>
        <td><span class="label label-success">Terms Finalized and Met</span></td>
        <td>$198.99</td>
        <td>$99.99</td>
        <td><span class="label label-warning">Approved</span> <div class="btn-group btn-group-xs"><a data-toggle="tooltip" title="Print Order Slip" class="btn btn-default"><i class="fa fa-print"></i></a></div></td>
        <td><span class="label label-warning">Awaiting Customer</span> <div class="btn-group btn-group-xs"><a data-toggle="tooltip" title="Re-notify customer of artwork" class="btn btn-default"><i class="fa fa-envelope"></i></a></div></td>
        <td><span class="label label-warning">Pending</span></td>
        <td><span class="label label-warning">Pending</span></td>
        <td>
          <div class="btn-group btn-group-xs">
            <a data-toggle="tooltip" title="Edit" class="btn btn-default"><i class="fa fa-edit"></i></a>
            <a data-toggle="tooltip" title="Quick View" class="btn btn-default"><i class="fa fa-eye"></i></a>
            <a data-toggle="tooltip" title="Printable Invoice" class="btn btn-default"><i class="fa fa-print"></i></a>
          </div>
        </td>
      </tr>
      <tr>
        <td>2</td>
        <td>
          <div class="btn-group btn-group-xs">
            <a data-toggle="tooltip" title="Show Order Log" class="btn btn-default"><i class="fa fa-list-alt"></i></a>
          </div>
        </td>
        <td>
          Custom T-shirt Order<br />
          Chet McGillicutty<br />
          another-name@gmail.edu
        </td>
        <td>Barrie Rupp</td>
        <td><span class="label label-success">Paid</span></td>
        <td>$198.99</td>
        <td>$0.00</td>
        <td><span class="label label-success">Staged</span></td>
        <td><span class="label label-success">Approved</span></td>
        <td><span class="label label-success">Packaged</span></td>
        <td>

          <span class="label label-danger">Awaiting pick up</span> <div class="btn-group btn-group-xs"><a data-toggle="tooltip" title="Notify Customer for Pick Up" class="btn btn-default"><i class="fa fa-envelope"></i></a></div>
        </td>
        <td>
          <div class="btn-group btn-group-xs">
            <a data-toggle="tooltip" title="View" class="btn btn-default"><i class="fa fa-eye"></i></a>
            <a data-toggle="tooltip" title="Edit" class="btn btn-default"><i class="fa fa-edit"></i></a>
          </div>
        </td>
      </tr>
      <tr>
        <td>3</td>
        <td>
          <div class="btn-group btn-group-xs">
            <a data-toggle="tooltip" title="Show Order Log" class="btn btn-default"><i class="fa fa-list-alt"></i></a>
          </div>
        </td>
        <td>
          Custom Print Order<br />
          Bob Ross<br />
          bobross@prettylittletree.com
        </td>
        <td>Jerry Kozak</td>
        <td>
          <span class="label label-danger">Terms Finalized Awaiting Payment</span>
          <div class="btn-group btn-group-xs"><a data-toggle="tooltip" title="Email Payment Request to Customer" class="btn btn-default"><i class="fa fa-envelope"></i></a></div>
        <td>$1904.72</td>
        <td>$1904.72</td>
        <td><span class="label label-warning">Pending</span></td>
        <td><span class="label label-warning">Pending</span></td>
        <td><span class="label label-warning">Pending</span></td>
        <td><span class="label label-warning">Pending</span></td>
        <td>
          <div class="btn-group btn-group-xs">
            <a data-toggle="tooltip" title="View" class="btn btn-default"><i class="fa fa-eye"></i></a>
            <a data-toggle="tooltip" title="Edit" class="btn btn-default"><i class="fa fa-edit"></i></a>
          </div>
        </td>
      </tr>
      <!--
  <tr>
    <td>5</td><td><input type="checkbox" class="rows-check"></td><td><strong>Jenny Doe</strong></td>
    <td>New York, US</td>
    <td><span class="label label-danger">Suspended</span></td>
  </tr>
  <tr>
    <td>6</td><td><input type="checkbox" class="rows-check"></td><td><strong>Hana Sartika</strong></td>
    <td>Semarang, Indonesia</td>
    <td><span class="label label-success">Active</span></td>
  </tr>
  <tr>
    <td>7</td><td><input type="checkbox" class="rows-check"></td><td><strong>Tukimin</strong></td>
    <td>Surakarta, Indonesia</td>
    <td><span class="label label-success">Active</span></td>
  </tr>
  <tr>
    <td>8</td><td><input type="checkbox" class="rows-check"></td><td><strong>Johnny Depp</strong></td>
    <td>Paris, French</td>
    <td><span class="label label-warning">Deactivated</span></td>
  </tr>
  <tr>
    <td>9</td><td><input type="checkbox" class="rows-check"></td><td><strong>Mas Arie</strong></td>
    <td>Boyolali, Indonesia</td>
    <td><span class="label label-success">Active</span></td>
  </tr>
  <tr>
    <td>10</td><td><input type="checkbox" class="rows-check"></td><td><strong>Rusmanto</strong></td>
    <td>Bandung, Indonesia</td>
    <td><span class="label label-success">Active</span></td>
  </tr>-->
      </tbody>
    </table>
  </div>
</div>



<div>
  <ul class="pagination pagination-lg">
    <li><a href="#fakelink">&laquo;</a></li>
    <li><a href="#fakelink">1</a></li>
    <li><a href="#fakelink">2</a></li>
    <li><a href="#fakelink">3</a></li>
    <li><a href="#fakelink">4</a></li>
    <li><a href="#fakelink">5</a></li>
    <li><a href="#fakelink">&raquo;</a></li>
  </ul>
</div>