<!-- Page header -->
<div class="page-heading animated fadeInDownBig">
  <h1>Create New Custom Order <small>wizard</small></h1>
</div>
<!-- End page header -->

<!-- Begin form wizard -->
<div class="box-info full">
  <%= render partial: 'form', locals: { order: @order } %>
</div><!-- End div .box-info -->
<!-- End form wizard -->