<!-- Page header -->
<div class="page-heading animated fadeInDownBig">
  <h1>Create New Custom Order <small>wizard</small></h1>
</div>
<!-- End page header -->

<!-- Begin form wizard -->
<div class="box-info full">
  <!-- FOrm selector #myWizard -->
  <form id="myWizard">
    <!-- First step -->
    <section class="step" data-step-title="Customer Information">
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <label for="inputEmail">Email</label>
            <input type="text" id="inputEmail" placeholder="Email" class="form-control">
          </div>
          <div class="form-group">
            <label for="inputFirstName">First Name</label>
            <input type="text" id="inputFirstName" placeholder="First Name" class="form-control">
          </div>
          <div class="form-group">
            <label for="inputLastName">Last Name</label>
            <input type="text" id="inputLastName" placeholder="Last Name" class="form-control">
          </div>
          <div class="form-group">
            <label for="inputCompany">Company</label>
            <input type="text" id="inputCompany" placeholder="Company" class="form-control">
          </div>
          <div class="form-group">
            <label for="twitter">Twitter</label>
            <div class="input-group">
                <span class="input-group-addon">@</span>
                <input type="text" class="form-control" placeholder="twitteralias">
            </div>
          </div>
        </div><!-- End div. col-sm-6 -->
        <div class="col-sm-6">
          <!-- Wizard notes -->
          <div class="notes">
            <h4>Customer Information Instructions</h4>
            <p style="text-align: justify">
                If the customers e-mail address exists in the system, <strong>be sure to still confirm their name and company</strong>
            </p>
            <p style="text-align: justify">
                When asking the customer for their information, be sure to inform them of the following:
            </p>
            <ol>
              <li><strong>Always ask for a phone number</strong>. Their phone number will only be used to contact them in the event of an emergency, and never for soliciting purposes.</li>
              <li>If they provide a twitter alias, we will tweet at them upon completion of their order</li>
            </ol>
          </div><!-- End div .notes -->
        </div><!-- End div .col-sm-6 -->
      </div><!-- End div .row -->
    </section>
    <!-- End first step -->


    <!-- Second step -->
    <section class="step" data-step-title="Order Details">
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <label for="inputUsername">Title</label>
            <input type="text" id="inputUsername" placeholder="Title Used by Company" class="form-control">
          </div>
          <div class="form-group">
            <label for="inputUsername">P.O. Number</label>
            <input type="text" id="inputUsername" placeholder="Purchase Order If Required" class="form-control">
          </div>
          <div class="form-group">
            <label for="inputUsername">In Hand By Date</label>
            <input type="datetime" id="inputUsername" placeholder="In Hand By" class="form-control datepicker-input">
          </div>
          <div class="form-group">
            <label for="inputUsername">Payment Terms</label>
            <select class="form-control">
              <option></option>
              <option>Paid in full on purchase</option>
              <option>Half down on purchase</option>
              <option>Paid in full on pick up</option>
              <option>Net 30</option>
              <option>Net 60</option>
            </select>
          </div>
          <div class="form-group">
            <label for="Tax Exempt">Tax Exempt?</label>
            <div class="input-group">
                <span class="input-group-addon">
                    <input type="checkbox">
                </span>
              <input type="text" class="form-control" placeholder="Tax ID Number">
            </div>
          </div>
          <div class="form-group">
            <label for="redo">Is this order a redo?</label>
            <div class="input-group">
                <span class="input-group-addon">
                    <input type="checkbox">
                </span>
              <textarea class="form-control" placeholder="Redo Explanation"></textarea>
            </div>
          </div>
        </div><!-- End div .col-sm-6 -->
        <div class="col-sm-6">
          <!-- Wizard notes -->
          <div class="notes">
            <h4>Order Information Instructions</h4>
          </div><!-- End div .notes -->
        </div><!-- End div .col-sm-6 -->
      </div><!-- End div .row -->
    </section>
    <!-- End second step -->


    <!-- Third step -->
    <section class="step" data-step-title="Delivery Information">
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <label for="inputFirstname">Delivery Method</label>
            <select class="form-control">
              <option></option>
              <option>Pick Up in Ann Arbor Location</option>
              <option>Pick Up in Ypsilanti Location</option>
              <option>Ship to Customer</option>
            </select>
          </div>
          <div class="form-group">
            <label for="inputCity">Shipping Method</label>
            <select class="form-control">
              <option></option>
              <option>In House Delivery</option>
              <option>UPS Ground</option>
              <option>UPS 3 Day Select</option>
              <option>UPS 2nd Day Air</option>
              <option>UPS Next Day Air</option>
              <option>USPS First Class or Priority</option>
              <option>USPS Express</option>
            </select>
          </div>
          <div class="form-group">
            <label for="inputFirstName">Attn: </label>
            <input type="text" id="inputFirstName" placeholder="name" class="form-control">
          </div>
          <div class="form-group">
            <label for="inputFirstName">Company:</label>
            <input type="text" id="inputFirstName" placeholder="name" class="form-control">
          </div>
          <div class="form-group">
            <label for="inputFirstName">Address 1:</label>
            <input type="text" id="inputFirstName" placeholder="address" class="form-control">
          </div>
          <div class="form-group">
            <label for="inputFirstName">Address 2:</label>
            <input type="text" id="inputFirstName" class="form-control">
          </div>
          <div class="form-group">
            <label for="inputFirstName">Address 3:</label>
            <input type="text" id="inputFirstName" class="form-control">
          </div>
          <div class="form-group">
            <label for="inputFirstName">City:</label>
            <input type="text" id="inputFirstName" placeholder="city" class="form-control">
          </div>
          <div class="form-group">
            <label for="inputFirstName">State:</label>
            <input type="text" id="inputFirstName" placeholder="state" class="form-control">
          </div>
          <div class="form-group">
            <label for="inputFirstName">ZIP code:</label>
            <input type="text" id="inputFirstName" placeholder="state" class="form-control">
          </div>
        </div><!-- End div .col-sm-6 -->
        <div class="col-sm-6">
          <!-- Wizard notes -->
          <div class="notes">
            <h4>Shipping Information Instructions</h4>
          </div><!-- End div .notes -->
        </div><!-- End div .col-sm-6 -->
      </div><!-- End div .row -->
    </section>
    <!-- End third step -->
  </form>
</div><!-- End div .box-info -->
<!-- End form wizard -->