<%= render 'orders/nav', order: @order, active: 'show' %>

<%= render 'orders/show' %>

<p style="page-break-after:always;"></p>

<% @order.payments.each do |payment| %>
  <%= render 'payments/receipt', payment: payment, order: payment.order %>
<% end %>
