<div class='hidden-print text-right'>
  <%= link_to edit_order_path(@order), class: 'btn btn-primary' do %>
      <i class="fa fa-edit"></i> Edit
  <% end %>
  <%= link_to '#', class: 'btn btn-success', id: 'print-button' do  %>
      <i class="fa fa-print"></i> Print
  <% end %>
</div>

<%= render 'orders/show' %>

<p style="page-break-after:always;"></p>

<% @order.payments.each do |payment| %>
  <%= render 'payments/receipt', payment: payment %>
<% end %>
