<div class="page-heading animated fadeInDownBig">
  <h1>Styles <small>Edit style <i><%= @style.name %></i></small></h1>
</div>

<div class="row full">
  <%= render partial: 'form', locals: {style: @style } %>
</div>
