<div class="page-heading animated fadeInDownBig col-lg-9">
  <h1>Styles <small>Configure the styles available for imprintables</small></h1>
</div>
<div class="col-lg-3 text-right">
  <%= link_to "Add a Style", new_style_path, class: 'btn btn-primary', role: 'button' %>
</div>

<div class="box-info row clear">
  <%= render partial: 'table', locals: {styles: @styles} %>
</div>
