<% if can_do_paypal_express? %>
setupContentModal(function(modal) {
  modal.find('.modal-dialog').addClass('modal-lg');
});
<% end %>
showContentModal({
  title:  $("<span>Pay for your order, <%= @order.name %></span>"),
  body:   $("<%=j render 'customer/payments/form', payment: @payment, order: @order %>"),
  footer: $("<button data-dismiss='modal' class='btn btn-default'>Close</button>"),
  then:   function() { <%= render 'payments/credit_card.js' %> }
});
