<div class='col-sm-2 hexcode'>
  <%= text_field_tag 'color[hexcodes][]', local_assigns[:hexcode] || '', class: 'form-control color-hexcodes' %>
  <%= button_tag '<i class="fa fa-minus"></i>'.html_safe, class: 'btn btn-danger btn-sm' %>
</div>
