<div class="page-heading animated fadeInDownBig">
  <h1>Colors <small>Edit Color <i><%= @color.name %></i></small></h1>
</div>

<div class="row full">
  <%= render partial: 'form', locals: {color: @color} %>
</div>

