<div class="page-heading animated fadeInDownBig">
  <h1>Edit FBA Product #<%= @fba_product.id %> <small>add or remove skus</small></h1>
</div>

<div class="row full">
  <%= render 'fba_products/form', fba_product: @fba_product %>
</div>
