<h2>
  <%= "#{@granter.first_name} #{@granter.last_name}" %> has granted you an Ann Arbor T-Shirt Company admin account.
</h2>
<p>
  Your password is <%= @password %>
</p>
<p>
  If you would like to change your password, you may do so <a href='test.com:3000'>here</a> after logging in.
</p>
<p>
  Thanks!
</p>