<h2>
<%= "#{@granter.firstname} #{@granter.lastname}" %> has granted you an Ann Arbor T-Shirt Company admin account.
</h2>
<p>
Your password is <%= @password %>
</p>
<p>
If you don't like it, you can change your password after logging in <a href='test.com:3000'>here</a>.
</p>
<p>
Thanks!
</p>