<div class='hidden-print text-right animated fadeInDownBig row'>
  <br clear="all" />
  <% if payment.order.nil? %>
    <%= link_to new_payment_path, class: 'btn btn-primary' do %>
      <i class="glyphicon glyphicon-circle-arrow-left"></i> Return To Payments
    <% end %>
  <% else %>
    <%= link_to edit_order_path(payment.order_id, anchor: 'payments'), class: 'btn btn-primary' do %>
      <i class="glyphicon glyphicon-circle-arrow-left"></i> Return To Order
    <% end %>
  <% end %>
    <%= link_to '#', class: 'btn btn-success print-page' do  %>
        <i class="fa fa-print"></i> Print
    <% end %>
</div>

<%= render 'payments/receipt', payment: payment, order: payment.order %>
