$('#contentModal .modal-header').html("<button type='button' class='close' data-dismiss='modal' aria-hidden='true'>&times;</button><br/>");
$('#contentModal .modal-body').html("<%= escape_javascript(render( template: 'payments/edit', locals: { refund: true }, formats:  [:html] ).html_safe) %>");
$('#contentModal').modal('show');
