<div class='input-group'>
  <%= text_field_tag :in_store_credit_search, '', class: 'form-control in-store-credit-search' %>
  <span class='input-group-btn'>
    <%= button_tag 'Search', class: 'btn btn-default in-store-credit-search-button' %>
  </span>
</div>

<div id='in-store-credit-spot'>
  <%= hidden_field_tag 'in_store_credit_ids[]', '' %>
</div>

<div class='clearfix'></div>
