
<div class="box-info">
  <h2><strong>Production</strong> Information</h2>
  Contains Polyester? <br />
  Material Makeup: <br />
  Weight: <br />
  Max Print Width: <br />
  Max Print Height: <br />
  Sizing Category: <br />
  Flashable: <br />
  Proofing Template: <br />
  Special Considerations: <br />
  Compatible Imprint Methods: <br />
</div>