<div class="form-group removeable">
  <div class="input-group">
    <%= f.collection_select :category, ImprintableCategory::VALID_CATEGORIES, :to_s, :to_s, {}, { class: 'chosen-select', data: { placeholder: 'Select categories' } } %>
    <span class="input-group-btn">
      <%= f.hidden_field :_destroy %>
      <%= link_to 'Remove', '#', class: 'btn btn-danger remove_fields' %>
    </span>
  </div>
  <% if f.object.errors.include?(:category) %>
    <%  f.object.errors.full_messages_for(:category).each do |message| %>
      <p class="text-danger"><%= message %></p>
    <% end %>
  <% end %>
</div>
