<style>
  #standard_product_notice {
    background-color: rgb(203, 243, 255);
    border-style: solid;
    border-color: #16aeff;
    border-width: 1px;
    height: 50px;
    color: darkblue;
    text-align: center;
    vertical-align: middle;
    padding: 12px;
    font-size: 1.3em;
    font-family: helvetica;
    margin: 20px;
  }
</style>

<div class="col-sm-12" id="standard_product_notice">
  This Imprintable is part of the Standard Product Set
</div>