<div class="page-heading animated fadeInDownBig col-ls-9">
  <h1>Imprintables <small>Edit Imprintable <i><%= @imprintable.name %></i></small></h1>
</div>
<div class="box-info row clear">
  <%= render partial: 'form', locals: { imprintable: @imprintable,
                                        size_variants: @size_variants,
                                        color_variants: @color_variants,
                                        variants_array: @variants_array } %>
</div>
