<div class="page-heading animated fadeInDownBig col-ls-9">
  <h1>Edit Imprintable<small> <i><%= @imprintable.name %></i></small></h1>
</div>

<%= render 'form',
            imprintable: @imprintable,
            model_collection_hash: @instance_hash[:model_collection_hash],
            variants_hash: @instance_hash[:variants_hash] %>
