<div class="page-heading animated fadeInDownBig col-ls-9">
  <h1>Edit Imprintable<small> <i><%= @imprintable.name %></i></small></h1>
</div>

<%= render partial: 'form', locals: { imprintable: @imprintable,
                                    size_variants: @size_variants,
                                    color_variants: @color_variants,
                                    variants_array: @variants_array } %>
