<div class="page-heading animated fadeInDownBig col-lg-9">
  <h1>Imprintables <small>View and edit imprintables</small></h1>
</div>
<div class="col-lg-3 text-right">
  <%= link_to "Add an Imprintable", new_imprintable_path, class:'btn btn-primary', role: 'button' %>
</div>

<div class="box-info row clear">
  <%= render partial: 'table', locals: { imprintables: @imprintables, sizes: @sizes, colors: @colors } %>
</div>
