<div class="page-heading animated fadeInDownBig">
    <h1>Imprintables <small>Create a new imprintable</small></h1>
</div>

<div class="row full">
  <%= render 'form',
              imprintable: @imprintable,
              model_collection_hash: @instance_hash[:model_collection_hash],
              variants_hash: @instance_hash[:variants_hash] %>
</div>