<div class="row">
  <div class="box-info full">
    <div class="col-xs-12">
      <%= bootstrap_form_for contact do |f| %>
          <%= render 'fields', contact: contact, f: f %>
          <br />
          <br />
          <p>
            <%= f.submit class: 'btn btn-large btn-primary' %>
          </p>
      <% end %>
    </div>
  </div>
</div>