<%= search_form_for Crm::Contact, class: 'form-horizontal' do |s| %>
    <div class="form-group">
      <div class="col-sm-12">
        <%= s.fulltext id: 'js_search', placeholder: 'Search Terms', class: 'form-control' %>
      </div>
    </div>

    <div class="form-group text-right">

      <%= link_to '#', class: 'btn btn-warning js-clear-btn' do  %>
          <i class="glyphicon glyphicon-refresh"></i> Clear
      <% end %>

      <%= button_tag class: 'btn btn-success' do %>
          <i class="glyphicon glyphicon-search"></i> Search
      <% end %>
    </div>
<% end %>