<%= render_error_modal_for @contact %>

<div class="row-fluid contacts-index">
  <div class="page-heading animated fadeInDownBig">
    <h1>
      Contacts
    </h1>
  </div>
  <%= link_to new_crm_contact_path, class: 'btn btn-success pull-right' do %>
      <i class="fa fa-user"></i> New
  <% end %>
</div>

<%= render 'form', contact: @contact %>