<div class='.example-spreadsheet'>
  <table class='table table-hover table-bordered'>
    <thead>
      <tr>
        <th>Name</th>
        <th>Master SKU (Parent)</th>
        <th>MSKU</th>
        <th>FNSKU</th>
        <th>ASIN</th>
        <th>Brand</th>
        <th>Style</th>
        <th>Color</th>
        <th>Size</th>
        <th>FBA Job Template</th>
      </tr>
    </thead>
    <tbody>
      <tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
      <tr>
        <td>FBA - Vin Reagan - 2CF</td>
        <td>fba_reagan84</td>
        <td>0-fba_reagan84-2030002002</td>
        <td>X000M30WOP</td>
        <td>B00L2ILWL0</td>
        <td>Next Level</td>
        <td>N6210</td>
        <td>Royal</td>
        <td>S</td>
        <td>Adult</td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td>0-fba_reagan84-2030003002</td>
        <td>X000M30WRH</td>
        <td>B00L2IM0FC</td>
        <td>Next Level</td>
        <td>N6210</td>
        <td>Royal</td>
        <td>M</td>
        <td>Adult</td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td>0-fba_reagan84-2030004002</td>
        <td>X000M30WSL</td>
        <td>B00L2IM64M</td>
        <td>Next Level</td>
        <td>N6210</td>
        <td>Royal</td>
        <td>L</td>
        <td>Adult</td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td>0-fba_reagan84-2030005002</td>
        <td>X000M30WQD</td>
        <td>B00L2IMA4I</td>
        <td>Next Level</td>
        <td>N6210</td>
        <td>Royal</td>
        <td>XL</td>
        <td>Adult</td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td>0-fba_reagan84-2030006002</td>
        <td>X000M30WS1</td>
        <td>B00L2IME9Y</td>
        <td>Next Level</td>
        <td>N6210</td>
        <td>Royal</td>
        <td>2XL</td>
        <td>Adult</td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td>0-fba_reagan84-2030007002</td>
        <td>X000M30WQX</td>
        <td>B00L2IMIG8</td>
        <td>Next Level</td>
        <td>N6210</td>
        <td>Royal</td>
        <td>3XL</td>
        <td>Adult</td>
      </tr>
      <tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
      <tr>
        <td>FBA** - Tap Snap Color - 4CF</td>
        <td>fba_tapsnap2</td>
        <td>0-fba_tapsnap2-2010001001</td>
        <td>X000RPDNTT</td>
        <td>B00WXLZ43M</td>
        <td>Tultex</td>
        <td>0202</td>
        <td>Black</td>
        <td>XS</td>
        <td>Adult</td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td>0-fba_tapsnap2-2010002001</td>
        <td>X000RPDL3R</td>
        <td>B00WXLZBRG</td>
        <td>Tultex</td>
        <td>0202</td>
        <td>Black</td>
        <td>S</td>
        <td>Adult</td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td>0-fba_tapsnap2-2010003001</td>
        <td>X000RPDKUL</td>
        <td>B00WXLZMIE</td>
        <td>Tultex</td>
        <td>0202</td>
        <td>Black</td>
        <td>M</td>
        <td>Adult</td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td>0-fba_tapsnap2-2010004001</td>
        <td>X000RPDKSD</td>
        <td>B00WXLZTZU</td>
        <td>Tultex</td>
        <td>0202</td>
        <td>Black</td>
        <td>L</td>
        <td>Adult</td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td>0-fba_tapsnap2-2010005001</td>
        <td>X000RPDPYR</td>
        <td>B00WXM02B0</td>
        <td>Tultex</td>
        <td>0202</td>
        <td>Black</td>
        <td>XL</td>
        <td>Adult</td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td>0-fba_tapsnap2-2010006001</td>
        <td>X000RPDKZ1</td>
        <td>B00WXM0EJA</td>
        <td>Tultex</td>
        <td>0202</td>
        <td>Black</td>
        <td>2XL</td>
        <td>Adult</td>
      </tr>
    </tbody>
  </table>
</div>
