<div id='js-fba-spreadsheet-id', data-id="<%= @fba_spreadsheet_upload.id %>"></div>
<% if @fba_spreadsheet_upload.done? %>
  <div class='page-heading animated fadeInDownBig'>
    <h1>Spreadsheet uploaded!</h1>
  </div>

  <div class='well'>
    <% if @fba_spreadsheet_upload.processing_errors.empty? %>
      Successful!
    <% else %>
      <% @fba_spreadsheet_upload.processing_errors.split("\n").each do |line| %>
        <%= line %><br />
      <% end %>
    <% end %>
  </div>
  <%= link_to 'Upload another', new_fba_spreadsheet_upload_path, class: 'btn btn-default' %>
<% else %>
  <div class='waiting-for-spreadsheet page-heading animated fadeInDownBig'>
    <h1>Processing spreadsheet...</h1>
  </div>
<% end %>
