/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require bootstrap/bootstrap
 *= require lanceng/style
 *= require style-responsive/style-responsive
 *= require_self
 *= require_tree .
 *= require animate/animate
 *= require bootstrap/sizes-theme-boostrap
 *= require table-fixed-header/table-fixed-header
 *= require font-awesome/font-awesome
 *= require icheck/skins/minimal/grey
 *= require bootstrap-datetimepicker
 *= require summernote
 *= require jquery-ui
 *= require select2/select2.min
 *= require editable/bootstrap-editable
 *= require rails_bootstrap_forms
 *= require softwear-fonts
 *= require markitup/skins/markitup/style
 *= require markitup/sets/xbbcode/style
 *= require dropzone/basic
 */

.margin-top-10 {
  margin-top: 10px;
}

.margin-top-20 {
  margin-top: 20px;
}

.btn-fullwidth,.width-100 {
  width: 100%;
}

dl.left-right {

  dt {
    float: left;
    clear: left;
    text-align: right;
  }
  dt:after {
    content: ":";
  }
  dd {
    float: left;
    margin: 0 0 0 2px;
  }

  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }

}

dl.left-right-pretty {


  dt {
    float: left;
    clear: left;
    width: 200px;
    text-align: right;
    font-weight: bold;
  }

  dt:after {
    content: ":";
  }

  dd {
    margin: 0 0 0 205px;
    padding: 0 0 0.5em 0;
  }
}

blockquote.freshdesk_quote {
  display: none
}

#my-store {
  margin-left: 15px;

  .editable-click {
    color: #8B91A0;
  }
  dt {
    color: white;
  }
}

.width-100 {
  width: 100%;
}

.max-height-550 {
  max-height: 550px;
}

.search-results-count {
  color: rgb(0, 75, 143);
  float: left;
  margin-top: -33px;
}

.form-right {
  text-align: right;
}

.margin-left {
  margin-left: 30px;
}

.profile-pic {
  max-width: 10em;
}

.dashboard-div {
  overflow: auto;
  height: 300px;
}

@import "font-awesome-sprockets";
@import "font-awesome";
@import "jquery.minicolors";
