/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require bootstrap/bootstrap
 *= require lanceng/style
 *= require style-responsive/style-responsive
 *= require_self
 *= require_tree .
 *= require animate/animate
 *= require bootstrap/sizes-theme-boostrap
 *= require table-fixed-header/table-fixed-header
 *= require font-awesome/font-awesome
 *= require icheck/skins/minimal/grey
 *= require bootstrap-datetimepicker
 *= require font-awesome
 *= require summernote
 *= require jquery-ui
 *= require chosen
 *= require editable/bootstrap-editable
 */

.margin-top-10 {
  margin-top: 10px;
}

.margin-top-20 {
  margin-top: 20px;
}

.btn-fullwidth {
  width: 100%;
}