#js-ajax-loading {
  width: 200px;
  height: 55px;
  z-index: 10000000000000000000;
  background-color: #4393D8;
  position: fixed;
  border-radius: 25px;
  box-shadow: 0px 5px 10px 0px;
  float: right;
}

.enlarge-modal {
  width: auto;
  height: auto;
}

.indent {
  margin-left: 20px;
}

.max-width{
  width: 100%;
}

.justify{
  text-align: justify;
}

.user-index{
  width: 30px;
}

.hide{
  display: none;
}

.select2-dropdown--below {
  z-index: 9999999 !important;
}

#dock {
  position: fixed;
  bottom: 0;
  right: 0;

  ul.nav-tabs {
    border: 1px solid white;

    .close-dock {
      color: white;
    }
  }

  .qr-dock-show-btn {
    margin-top: 10px;
  }
}

#error-details {
  border: 1px solid black;
}
