#js-ajax-loading .modal-dialog {
  width: 800px;
}

#js-ajax-loading {
  z-index: 10000000000000000000;
}

#js-ajax-loading .modal-content {
  background-color: #4393D8;
}

.enlarge-modal {
  width: auto;
  height: auto;
}

.indent {
  margin-left: 20px;
}

.max-width{
  width: 100%;
}

.justify{
  text-align: justify;
}

.user-index{
  width: 30px;
}

.hide{
  display: none;
}