#imprintable_variants_list {
  th {
    border:1px solid #CCCCCC;
    text-align:center;
    vertical-align:middle;
    position:relative;
  }

  th.size-col-header {
    min-width: 100px;
  }

  td {
    border:1px solid #CCCCCC;
    text-align:center;
    vertical-align:middle;
    position:relative;
  }
  .fa-plus {
    position:absolute;
    bottom:5px;
    right:15px;
    text-align:left;
    vertical-align:bottom;
    cursor:pointer;
    color:green;
  }
  .fa-minus{
    position:absolute;
    bottom:5px;
    left:15px;
    cursor:pointer;
    color:red;
  }
  .fa-check{
    color:green;
    position:absolute;
  }
  .fa-times{
    color:red;
    position:absolute;
  }
  border:1px solid #CCCCCC;
  position:relative;
}
#add_a_color {
  cursor:pointer;
}
#add_a_size {
  cursor:pointer;
}

#imprintable_sample_location_ids {
  width: 100%;
}

#imprintable_coordinate_ids {
  width: 100%;
}

#imprintable_compatible_imprint_method_ids {
  width: 100%;
}

#tag_cloud {
  width: 400px;
  line-height: 1.6em;
  .s { font-size: 0.8em; }
  .m { font-size: 1.2em; }
  .l { font-size: 1.8em; }
}