#imprintable_variants_list {
  th {
    border:1px solid #CCCCCC;
    text-align:center;
    vertical-align:middle;
    position:relative;
  }

  th.size_col_header {
    min-width: 100px;
  }

  td {
    border:1px solid #CCCCCC;
    text-align:center;
    vertical-align:middle;
    position:relative;
  }
  .fa-plus {
    position:absolute;
    bottom:5px;
    right:15px;
    text-align:left;
    vertical-align:bottom;
    cursor:pointer;
    color:green;
  }
  .fa-minus{
    position:absolute;
    bottom:5px;
    left:15px;
    cursor:pointer;
    color:red;
  }
  .fa-check{
    color:green;
    position:absolute;
  }
  .fa-times{
    color:red;
    position:absolute;
  }
  border:1px solid #CCCCCC;
  position:relative;
}

.quote-variant-weight {
  width: 200px;
}

#add_a_color {
  cursor:pointer;
}

#actions {
  width: 100px;
}

#add_a_size {
  cursor:pointer;
}

#imprintable_sample_location_ids {
  width: 100%;
}

#imprintable_coordinate_ids {
  width: 100%;
}

#imprintable_compatible_imprint_method_ids {
  width: 100%;
}

.chosen-select {
  width: 100%;
}

.size-price-table {
  input {
    padding: 0 0 0 2px;
    margin: 0;
  }

  .input-group-addon {
    padding: 0 10px;
    margin: 0;
  }
}

.discontinued-imprintable {
  background-color: #FF937D; 
}
