// Place all the styles related to the orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#delete-order {
	float: right;
	margin-bottom: 15px;
}

.fba-upload {
  background: #F1EFEF;
  padding: 5px;
  margin-top: 5px;
}

.error-text {
  color: #AC0008;
}

.ok-text {
  color: #1F9A21;
}

.big-submit-button {
  font-size: 500%;
 }

.box-info table.non-imprintables, .box-info table.imprintable-line-item, .box-info table.order-totals {
  td, th, tr {
    padding-left: 2px;
    padding-right: 2px;
    border: none;
  }
}

table.imprintable-line-item {
  border-bottom: solid 1px #ddd;
}

h2.invoice-job-name {
  border: solid 1px #ddd;
  padding: 6px;
}

ul.shipments-list {
  margin: 0;
  padding: 0;

  li {
    list-style: none;
    margin: 0;
    padding: 0;
  }
}

.breakhere {
  page-break-before: always;
  page-break-after: always;
}

@media print {
  .imprintable-order-sheet-job {
    page-break-after: always;
  }

  .imprintable-order-sheet-imprintable {
    page-break-inside: avoid;
    margin-bottom: 20px;
    border-bottom: dashed 1px #000;
  }

}
  .imprintable-order-sheet-job {
    page-break-after: always;
    page-break-before: always;
    display: block;
  }

  .imprintable-order-sheet-imprintable {
    page-break-inside: avoid;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: dashed 1px #000;
  }


.imprintable-order-sheet-table {
  width: 100%;


  th, td {
    text-align: center;
    padding: 5px 15px;
    border: solid 1px #666;
  }

 .size-col {
    width: 50px;
  }
}

.order-invoice {
  font-size: 12px;
  .line-item-row {
    border-bottom: solid 1px #ddd;
    padding-bottom: 6px;
    margin-bottom: 3px;
  }

  .line-item-size-col {
    min-width: 50px;
    max-width: 80px;
    padding: 0;
    margin: 0;
    text-align: left;
  }

  .page-heading {
    margin: 6px;
    padding: 6px;
  }

  .box-info {
    margin: 6px;
    padding: 6px;
  }
  h1 {
    margin-bottom: 6px;
    padding-bottom: 6px;
  }

  h2 {
    padding-bottom: 6px;
    margin-bottom: 3px;
  }

}

.cc-exp {
  .form-group {
    float: left;
    width: 60%;

    input {
      width: 7em;
    }
  }
}

.cc-cvc {
  .form-group {
    float: right;
    width: 40%;

    input {
      width: 6em;
    }
  }
}

.cc-icon {
  background-size: cover;
  background-repeat: no-repeat;
  width: 53px;
}
.cc-icon-empty {
  background-image: image-url("creditcard/empty-curved-64px.png")
}
.cc-icon-amex {
  background-image: image-url("creditcard/american-express-curved-64px.png")
}
.cc-icon-diners-club-carte-blanche {
  background-image: image-url("creditcard/empty-curved-64px.png")
}
.cc-icon-diners-club-international {
  background-image: image-url("creditcard/empty-curved-64px.png")
}
.cc-icon-mastercard {
  background-image: image-url("creditcard/mastercard-curved-64px.png")
}
.cc-icon-discover {
  background-image: image-url("creditcard/discover-curved-64px.png")
}
.cc-icon-jcp {
  background-image: image-url("creditcard/empty-curved-64px.png")
}
.cc-icon-laser {
  background-image: image-url("creditcard/empty-curved-64px.png")
}
.cc-icon-maestro {
  background-image: image-url("creditcard/maestro-curved-64px.png")
}
.cc-icon-visa {
  background-image: image-url("creditcard/visa-curved-64px.png")
}
.cc-icon-visa-electron {
  background-image: image-url("creditcard/visa-electron-curved-64px.png")
}
.order-step-1 {
  min-height: 400px;
}

.order-edit-salesperson, .quote-edit-salesperson {
  padding: 10px;
  float: left;

  .profile-pic {
    width: 60px;
  }
}

.order-edit-title, .quote-edit-title {
  padding: 10px 0;
  float: left;
}

.navbar-orders,.navbar-quotes {
  background-color: #f8f8f8;
  border: none;
}

@media (max-width: 767px) {
  .navbar-orders, .navbar-quotes {

    button.navbar-toggle {
      padding: 15px 15px;
      border-radius: 0;
      color: #1B1E24;
      background: #A5B2BC;
      margin-right: 0px;
      margin-top: 0px;
      margin-bottom: 0px;
      border: none;
      font-size: 14px;
    }

  }
}

.navbar-orders .navbar-nav > li > a {
  color: #777;
}

.navbar-orders .navbar-nav > .active > a,
.navbar-orders .navbar-nav > .active > a:hover,
.navbar-orders .navbar-nav > .active > a:focus {
  color: #555555;
  background-color: #E5E9EC;
  border-bottom: none;
}
.navbar-orders .navbar-nav > .open > a,
.navbar-orders .navbar-nav > .open > a:hover,
.navbar-orders .navbar-nav > .open > a:focus {
  color: #555555;
  background-color: #fafafa;
}

.state-ribbon {
  width: 100%;
  background-color: #fff;
  margin-bottom: 10px;
}

@media (max-width: 767px) {
  .state-ribbon .state-box {
    background-color: #fff;
  }
}

@media (min-width: 768px) {
  .state-ribbon .state-box {
    width: 20%;
    float: left;
    background-color: #fff;
  }
}

.state-ribbon .single-state-box {
  background-color: #fff;
}

.state-box h5, .single-state-box h5 {
  font-weight: bold;
  text-align: center;
  margin: 0;
  padding: 0.5em;
  width: 100%;
  background-color: #000000;
  color: #FFFFFF;
}

.state-box .state, .single-state-box .state {
  text-align: center;
}

.state {
  padding: 0.5em;
}

.state.state-danger {
  background-color: #d9534f;
  color: #fff;
}

.state.state-primary {
  background-color: #337ab7;
  color: #fff;
}

.state.state-warning {
  background-color: #f0ad4e;
  color: #fff;
}

.state.state-success {
  background-color: #5cb85c;
  color: #fff;
}

.order-state-action {
  float: right;
//  a {
//    padding: 2px 5px;
//    background-color: #
//  }
}
