// Place all the styles related to the orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#delete-order {
	float: right;
	margin-bottom: 15px;
}

.fba-upload {
  background: #F1EFEF;
  padding: 5px;
  margin-top: 5px;
}

.error-text {
  color: #AC0008;
}

.ok-text {
  color: #1F9A21;
}

.big-submit-button {
  font-size: 500%;
 }

.box-info table.non-imprintables, .box-info table.imprintable-line-item, .box-info table.order-totals {
  td, th, tr {
    padding-left: 2px;
    padding-right: 2px;
    border: none;
  }
}

table.imprintable-line-item {
  border-bottom: solid 1px #ddd;
}

h2.invoice-job-name {
  border: solid 1px #ddd;
  padding: 6px;
}

ul.shipments-list {
  margin: 0;
  padding: 0;

  li {
    list-style: none;
    margin: 0;
    padding: 0;
  }
}

.breakhere {
  page-break-before: always;
  page-break-after: always;
}

@media print {
  .imprintable-order-sheet-job {
    page-break-after: always;
  }

  .imprintable-order-sheet-imprintable {
    page-break-inside: avoid;
    margin-bottom: 20px;
    border-bottom: dashed 1px #000;
  }

}
  .imprintable-order-sheet-job {
    page-break-after: always;
    page-break-before: always;
    display: block;
  }

  .imprintable-order-sheet-imprintable {
    page-break-inside: avoid;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: dashed 1px #000;
  }


.imprintable-order-sheet-table {
  width: 100%;
  

  th, td {
    text-align: center;
    padding: 5px 15px;
    border: solid 1px #666;
  }

 .size-col {
    width: 50px;
  } 
}

.order-invoice {
  font-size: 12px;
  .line-item-row {
    border-bottom: solid 1px #ddd;
    padding-bottom: 6px;
    margin-bottom: 3px;
  }

  .line-item-size-col {
    min-width: 50px;
    max-width: 80px;
    padding: 0;
    margin: 0;
    text-align: left;
  }
   
  .page-heading {
    margin: 6px;
    padding: 6px;
  }

  .box-info {
    margin: 6px;
    padding: 6px;
  }
  h1 {
    margin-bottom: 6px;
    padding-bottom: 6px;
  }

  h2 {
    padding-bottom: 6px;
    margin-bottom: 3px;
  }

}
