@media print {
    .shrink-me {
        max-width: 300px;
        display: inline-block;
    }

    .box-info {
        margin: 0;
    }

    p {
        margin: 0;
    }

    @page {
        margin: 0.5cm;
    }
}
