@media print {
    .content {
      overflow: visible;
    }

    .right {
      left: 0 !important;
      overflow: visible;
    }

    .box-info {
        margin: 0;
    }

    p {
        margin: 0;
    }

    @page {
        margin: 0.5cm;
    }
}

.no-break {
    page-break-inside: avoid;
}

.red {
  color: red;
}

#freshdesk-email-temp {
  padding: 10px;
  border: 1px solid #BBBBBB;
  background-color: white;
  overflow-y: scroll;
  max-height: 200px;
  margin-bottom: 5px;
}
.freshdesk-copy-modal {
  background-color: #EDFFF9;
}

.sortable-quote-line-items {
  list-style-type: none;
  float: left;
  min-height: 20px;
//  background-color: #E5E9EC;
  width: 100%
}

.sortable-quote-line-item {
//  background-color: #ffffff;
  margin: auto 5px;
}

.editing-line-item {
  background-color: #FFFEE8;
}

.pending-line-item-edit {
  background-color: #E8E7BE;
}
