@media print {
    .content {
      overflow: visible;
    }

    .right {
      left: 0 !important;
      overflow: visible;
    }

    .box-info {
        margin: 0;
    }

    p {
        margin: 0;
    }

    @page {
        margin: 0.5cm;
    }
}

.no-break {
    page-break-inside: avoid;
}

.red {
  color: red;
}

.quote-line-item-group {
  background: #fff;
  border: solid 1px #E5E9EC;
  margin-bottom: 10px;
}
.quote-line-item-group:hover {
  background: #fafafa;
}

.quote-line-item-row{
  border-bottom: solid 1px #E5E9EC;
  margin-bottom: 10px;
}

.editing-line-item {
  border: solid 1px #E5E9EC;
  margin: 10px 0 0 0;
  padding: 10px 0;
  background-color: #ffffff;

}

