@media print {
    .content {
      overflow: visible;
    }

    .right {
      left: 0 !important;
      overflow: visible;
    }

    .box-info {
        margin: 0;
    }

    p {
        margin: 0;
    }

    @page {
        margin: 0.5cm;
    }
}

.no-break {
    page-break-inside: avoid;
}

.red {
  color: red;
}

#freshdesk-email-temp {
  padding: 10px;
  border: 1px solid #BBBBBB;
  background-color: white;
  overflow-y: scroll;
  max-height: 200px;
  margin-bottom: 5px;
}
.freshdesk-copy-modal {
  background-color: #EDFFF9;
}

.sortable-quote-line-items, .option-and-markup-line-items {
  list-style-type: none;
  float: left;
  min-height: 50px;
  width: 100%;
  background-color: #eee;

}

.sortable-quote-line-item,.option-and-markup-line-item  {
  margin: 15px 5px;
  border: solid 1px #cccccc;
  background-color: #ffffff;
  border-radius: 10px;
  padding: 10px;
}

.editing-line-item {
  background-color: #FFFEE8;
}

.removing-line-item {
  background-color: #FFB5AC;
}

.pending-line-item-edit {
  background-color: #E8E7BE;
}

.quote-line-items-container {
  padding: 15px;
}

#comments-list {
  list-style: none;
}
