@media print {

    .content {
      overflow: visible;
    }

    .right {
      left: 0 !important;
      overflow: visible;
    }

    .box-info {
        margin: 0;
    }

    p {
        margin: 0;
    }

    @page {
        margin: 0.5cm;
    }
}

.no-break {
    page-break-inside: avoid;
}

.red {
  color: red;
}