@font-face {
  font-family: 'softwear-icon';
  src:url(font-path('softwear-crm.eot?xp9oms'));
  src:url(font-path('softwear-crm.eot?#iefixxp9oms')) format('embedded-opentype'),
  url(font-path('softwear-crm.woff?xp9oms')) format('woff'),
  url(font-path('softwear-crm.ttf?xp9oms')) format('truetype'),
  url(font-path('softwear-crm.svg?xp9oms#softwear-crm')) format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="softwear-icon-"], [class*=" softwear-icon-"] {
  font-family: 'softwear-icon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.softwear-icon-insightly-icon:before {
  content: "\e600";
}

.softwear-icon-freshdesk-icon:before {
  content: "\e601";
}

.softwear-icon-heart:before {
  content: "\e602";
}

.softwear-icon-cloud:before {
  content: "\e603";
}

.softwear-icon-star:before {
  content: "\e604";
}

.softwear-icon-tv:before {
  content: "\e605";
}

.softwear-icon-sound:before {
  content: "\e606";
}

.softwear-icon-video:before {
  content: "\e607";
}

.softwear-icon-trash:before {
  content: "\e608";
}

.softwear-icon-user:before {
  content: "\e609";
}

.softwear-icon-key:before {
  content: "\e60a";
}

.softwear-icon-search:before {
  content: "\e60b";
}

.softwear-icon-settings:before {
  content: "\e60c";
}

.softwear-icon-camera:before {
  content: "\e60d";
}

.softwear-icon-tag:before {
  content: "\e60e";
}

.softwear-icon-lock:before {
  content: "\e60f";
}

.softwear-icon-bulb:before {
  content: "\e610";
}

.softwear-icon-pen:before {
  content: "\e611";
}

.softwear-icon-diamond:before {
  content: "\e612";
}

.softwear-icon-display:before {
  content: "\e613";
}

.softwear-icon-location:before {
  content: "\e614";
}

.softwear-icon-eye:before {
  content: "\e615";
}

.softwear-icon-bubble:before {
  content: "\e616";
}

.softwear-icon-stack:before {
  content: "\e617";
}

.softwear-icon-cup:before {
  content: "\e618";
}

.softwear-icon-phone:before {
  content: "\e619";
}

.softwear-icon-news:before {
  content: "\e61a";
}

.softwear-icon-mail:before {
  content: "\e61b";
}

.softwear-icon-like:before {
  content: "\e61c";
}

.softwear-icon-photo:before {
  content: "\e61d";
}

.softwear-icon-note:before {
  content: "\e61e";
}

.softwear-icon-clock:before {
  content: "\e61f";
}

.softwear-icon-paperplane:before {
  content: "\e620";
}

.softwear-icon-params:before {
  content: "\e621";
}

.softwear-icon-banknote:before {
  content: "\e622";
}

.softwear-icon-data:before {
  content: "\e623";
}

.softwear-icon-music:before {
  content: "\e624";
}

.softwear-icon-megaphone:before {
  content: "\e625";
}

.softwear-icon-study:before {
  content: "\e626";
}

.softwear-icon-lab:before {
  content: "\e627";
}

.softwear-icon-food:before {
  content: "\e628";
}

.softwear-icon-t-shirt:before {
  content: "\e629";
}

.softwear-icon-fire:before {
  content: "\e62a";
}

.softwear-icon-clip:before {
  content: "\e62b";
}

.softwear-icon-shop:before {
  content: "\e62c";
}

.softwear-icon-calendar:before {
  content: "\e62d";
}

.softwear-icon-wallet:before {
  content: "\e62e";
}

.softwear-icon-vynil:before {
  content: "\e62f";
}

.softwear-icon-truck:before {
  content: "\e630";
}

.softwear-icon-world:before {
  content: "\e631";
}

