<div class="page-heading animated fadeInDownBig">
  <h1>Brands <small>Edit brand <i><%= @brand.name %></i></small></h1>
</div>

<div class="row full">
  <%= render partial: 'form', locals: {brand: @brand } %>
</div>

