<% if @email.valid? %>
  setupContentModal(function(modal) {
    modal.find('.modal-dialog').addClass('modal-lg');
  });

  showContentModal({
    title: 'Email Body for Freshdesk',
    body: $("<%=j render 'freshdesk', email: @email %>"),
    footer: $('<button class="btn btn-info" data-dismiss="modal">Close</button>'),
    then: function() {
      SelectText('freshdesk-email-temp');
    }
  });
<% else %>
  errorModal("email invalid: <%=j @email.errors.full_messages.join(', ').html_safe %>");
<% end %>
