
<div class="col-sm-10 col-sm-offset-2 col-xs-12">
  <h3>Template Reference for Quotes</h3>
  <h4>quote</h4>
  <ul>
    <li>id</li>
    <li>name</li>
    <li>customer_full_name</li>
    <li>email</li>
    <li>line_item_groups</li>
  </ul>

  <h4>line_item_group</h4>
  <ul>
    <li>id</li>
    <li>name</li>
    <li>description</li>
    <li>line_items</li>
  </ul>

  <h4>line_item</h4>
  <ul>
    <li>id</li>
    <li>name</li>
    <li>quantity</li>
    <li>description</li>
    <li>url</li>
    <li>taxable</li>
    <li>unit_price</li>
  </ul>

  <h4>salesperson</h4>
  <ul>
    <li>first_name</li>
    <li>last_name</li>
    <li>full_name</li>
    <li>email</li>
  </ul>

</div>