
<div class="row">
  <h3 class="col-sm-offset-2">Template Reference for Quotes</h3>
  <div class="col-sm-3 col-sm-offset-2">
    <h4>quote</h4>
    <ul>
      <li>id</li>
      <li>formal (Boolean)</li>
      <li>name</li>
      <li>customer_first_name</li>
      <li>customer_last_name</li>
      <li>customer_full_name</li>
      <li>customer_email</li>
      <li>customer_company</li>
      <li>customer_phone_number</li>
      <li>valid_until_date</li>
      <li>estimated_delivery_date</li>
      <li>shipping_cost</li>
      <li>jobs (Array of jobs)</li>
      <li>additional_options_and_markups (Array of line_items)</li>
    </ul>
  </div>

  <div class="col-sm-3">
    <h4>job</h4>
    <ul>
      <li>name</li>
      <li>description</li>
      <li>line_items (Array of line_items)</li>
      <li>imprints (Array of imprints)</li>
      <li>imprintable_tiers (Array of imprintable_tiers)</li>
    </ul>
    <h4>salesperson</h4>
    <ul>
      <li>first_name</li>
      <li>last_name</li>
      <li>full_name</li>
      <li>email</li>
      <li>profile_picture_path</li>
      <li>signature_path</li>
    </ul>
  </div>

  <div class="col-sm-3">
    <h4>line_item</h4>
    <ul>
      <li>name</li>
      <li>description</li>
      <li>url</li>
      <li>quantity</li>
      <li>unit_price</li>
    </ul>

    <h4>imprint</h4>
    <ul>
      <li>imprint_method</li>
      <li>imprint_location</li>
      <li>description</li>
    </ul>

    <h4>imprintable_tier</h4>
    <ul>
      <li>name</li>
      <li>line_items (Array of line_items)</li>
    </ul>

  </div>







</div>
