
<div class="row">
  <h3 class="col-sm-offset-2">Template Reference for Quotes</h3>
  <div class="col-sm-3 col-sm-offset-2">
    <h4>quote</h4>
    <ul>
      <li>id</li>
      <li>name</li>
      <li>customer_first_name</li>
      <li>customer_last_name</li>
      <li>customer_full_name</li>
      <li>customer_email</li>
      <li>customer_company</li>
      <li>customer_phone_number</li>
      <li>valid_until_date</li>
      <li>estimated_delivery_date</li>
      <li>shipping_cost</li>
      <li>line_item_groups (Array)</li>
    </ul>
  </div>

  <div class="col-sm-3">
    <h4>line_item_group</h4>
    <ul>
      <li>name</li>
      <li>description</li>
      <li>line_items (Array)</li>
    </ul>
    <h4>salesperson</h4>
    <ul>
      <li>first_name</li>
      <li>last_name</li>
      <li>full_name</li>
      <li>email</li>
    </ul>
  </div>

  <div class="col-sm-3">
    <h4>line_item</h4>
    <ul>
      <li>name</li>
      <li>description</li>
      <li>url</li>
      <li>quantity</li>
      <li>unit_price</li>
    </ul>
  </div>






</div>