<div class="page-heading animated fadeInDownBig">
  <h1>Email Templates <small>Edit Email Template <i><%= @email_template.subject %></i></small></h1>
</div>

<div class="row full">
  <%= render 'form', email_template: @email_template %>
</div>