<div class="page-heading animated fadeInDownBig row">
  <div class="pull-left">
    <h1>Email Templates <small> View and edit email templates</small></h1>
  </div>
  <div class="pull-right">
    <%= link_to new_email_template_path, class: 'btn btn-success' do  %>
        <i class="fa fa-plus-circle"></i> New Email Template
    <% end %>
  </div>
</div>

<div class="box-info row clear">
  <%= render 'table', email_templates: @email_templates %>
</div>
