<div class="page-heading animated fadeInDownBig">
  <h1>Colors <small>Create a new email template</small></h1>
</div>

<div class="row full">
  <%= render 'form', email_template: @email_template %>
</div>