<% url = determine_url(@line_item, @line_itemable) %>

<%= form_for [@line_itemable, @line_item], builder: LancengFormBuilder,
             html: { id: 'new_imprintable_line_item' }, remote: true, url: url do |f| %>
  <div class='select-level' data-level='1'>
    <div class='select-level' data-level='2'>
      <div class='select-level' data-level='3'>
        <div class='select-level' data-level='4'>

        </div>
      </div>
    </div>
  </div>

  <%= f.hidden_field :imprintable_variant_id %>
<% end %>
