<div class="page-heading animated fadeInDownBig">
  <h1>Imprintable Groups <small>Edit group <i><%= @imprintable_group.name %></i></small></h1>
</div>

<div class="row full">
  <%= render partial: 'form', locals: { imprintable_group: @imprintable_group } %>
</div>
