<div class="page-heading animated fadeInDownBig">
  <h1>Imprintable Groups <small>Create a new imprintable group</small></h1>
</div>

<div class="row full">
  <%= render partial: 'form', locals: { imprintable_group: @imprintable_group } %>
</div>

